.tFaq {
	z-index: 10;
	max-width: 848px;
	position: relative;
	margin: 80px auto 0px;
	transform: translateZ(0);

	@mixin screen_to, $w-mbl-point {
		display: block;
		margin-top: 60px;
		max-width: var(--sz-mbl);
	}

	&:after {
		left: 50%;
		z-index: -1;
		content: '';
		width: 196px;
		bottom: 100%;
		height: 304px;
		display: block;
		position: absolute;
		margin: 0px 0px -204px -621px;
		background: url('/assets/img/design/decore/heroes/6-196x304.png') no-repeat;
		background-size: contain;

		@media
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 120dpi) {
			background-image: url('/assets/img/design/decore/heroes/6-196x304@2.png');
		}
		@mixin screen_to, $w-mbl-point {
			content: normal;
		}
	}

	/*#region [scheme][:]*/
	&_tab {
		order: 1;
		opacity: 0;
		width: 100%;
		display: none;
		transition: opacity .08s $es;

		&._active {
			opacity: 1;
			display: block;
			transition-duration: .3s;
		}
	}
	&_tabs {
		display: flex;
		flex-flow: wrap;
		margin-top: 3px;
		overflow: hidden;
		min-height: 80px;
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		&_name {
			display: block;
			cursor: pointer;
			color: var(--c5);
			user-select: none;
			position: relative;
			background: #a0e1eb;
			text-transform: uppercase;
			padding: 10px 40px 8px 30px;
			transition:
				color .3s $es,
				background .3s $es;

			@mixin screen_to, $w-mbl-point {
				padding-left: 15px;
			}

			&:after,
			&:before {
				content: '';
				display: block;
				position: absolute;
				background: var(--c5);
			}
			&:after {
				top: 13px;
				width: 3px;
				right: 20px;
				height: 13px;
				transition: all .3s $es;

				@mixin screen_to, $w-mbl-point {
					right: 15px;
				}
			}
			&:before {
				top: 18px;
				right: 15px;
				width: 13px;
				height: 3px;

				@mixin screen_to, $w-mbl-point {
					right: 10px;
				}
			}

			&:hover {
				color: var(--c6);
			}
			&._active {
				background: #fff;

				&:after {
					opacity: 0;
					transform: scaleY(0);
				}
			}
		}
		&_body {
			color: #333;
			display: none;
			background: #fff;
			position: relative;
			font: 16px/20px $f1;
			padding: 4px 30px 25px;

			@mixin screen_to, $w-mbl-point {
				padding: 4px 15px 25px;
			}

			&:after {
				top: 0px;
				left: 0px;
				z-index: 10;
				content: '';
				width: 100%;
				height: 100%;
				background: #fff;
				position: absolute;
				transition: all .08s $es;
			}
			& :first-child {
				margin-top: 0px;
			}

			&._active {
				display: block;

				&:after {
					opacity: 0;
					visibility: hidden;
					transition-duration: .3s;
				}
			}
		}

		& + & {
			margin-top: 2px;
		}
	}
	&_title {
		text-align: center;

		@mixin screen_to, $w-mbl-point {
			padding: 0px 15px;
		}
	}
	/*#endregion [object][;]*/

	&-checks {
		&:after {
			content: none;
		}
	}
}