.btn,
button {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	max-width: 100%;
	cursor: pointer;
	overflow: hidden;
	background: none;
	box-shadow: none;
	user-select: none;
	text-shadow: none;
	position: relative;
	border-radius: 0px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	transform: translateZ(0);
	transition:
		color .3s $es,
		background .3s $es,
		box-shadow .3s $es;

	&:after,
	&:before {
		pointer-events: none;
	}
}

.btn {
	&1 {
		height: 60px;
		color: #fff;
		border-radius: 60px;
		font: 500 18px/60px $f1;
		text-transform: uppercase;
		padding: 0px 68px 0px 20px;
		background: var(--grdnt) 0% 100%;
		box-shadow: 0px 0px 10px 5px rgba(#fff, .4);
		background-size: 200% 200%;
		transition:
			box-shadow .3s $es,
			background .3s $es;

		&:after,
		&:before {
			top: 0px;
			right: 18px;
			display: block;
			position: absolute;
			font: 38px/60px $ico;
			content: $ico-star-3;

			@mixin screen_to, $w-mbl-point {
				right: 15px;
			}
		}
		&:before {
			opacity: .5;
			color: transparent;
			animation: btn1-star 1s $es infinite alternate;
			text-shadow:
				0px 0px 10px #fff,
				0px 0px 10px #fff,
				0px 0px 10px #fff,
				0px 0px 10px #fff;
		}

		&:hover,
		&:active {
			color: #fff;
			box-shadow: 0px 0px 10px 5px rgba(#fff, .8);
		}
		&:active {
			background-position-y: 0%;
		}
	}

	&2 {
		color: var(--c5);
		padding: 14px 26px;
		border-radius: 46px;
		background: var(--c1);
		font: 500 14px/18px $f1;
		transition: color .3s $es;
		text-transform: uppercase;
		box-shadow: 0px 0px 20px 2px rgba(#fff, .5);

		&:before {
			font: 24px/1 $ico;
			vertical-align: top;
			display: inline-block;
			margin: -3px 10px -3px -6px;
		}

		&._map {
			padding-left: 47px;

			&:before {
				top: 50%;
				left: 20px;
				content: $ico-pin;
				position: absolute;
				margin: -12px 0px 0px;
			}
		}
		&._mail {
			&:before {
				content: $ico-mail;
			}
		}
		&._file {
			&:before {
				content: $ico-file;
			}
		}
		&._snow {
			&:before {
				content: $ico-flake;
			}
		}
		&._flyer {
			&:before {
				content: $ico-poster;
			}
		}

		&:hover {
			color: var(--c7);
			box-shadow: 0px 0px 20px 2px rgba(#fff, .6);
		}
	}
}

@keyframes btn1-star {
	100% {
		transform: scale(1.2632);
	}
}