.icheckbox {
	z-index: 1;
	width: 30px;
	height: 30px;
	cursor: pointer;
	color: var(--c5);
	background: #fff;
	position: relative;
	vertical-align: top;
	display: inline-block;
	border: 1px solid var(--input-border);
	box-shadow: 0px 0px 0px 3px transparent;
	transition:
		border .3s $es,
		box-shadow .3s $es;

	&:after {
		top: 9px;
		left: 6px;
		opacity: 0;
		width: 15px;
		height: 7px;
		content: '';
		display: block;
		position: absolute;
		pointer-events: none;
		transition: all .3s $es;
		border-left: 2px solid currentColor;
		border-bottom: 2px solid currentColor;
		transform: scale(1.28) rotate(-45deg);
	}

	&:hover,
	&._hover {
		border-color: var(--input-focus);
		box-shadow: 0px 0px 0px var(--input-focus);
	}
	&._error {
		border-color: var(--input-error);
		box-shadow: 0px 0px 0px 1px var(--input-error);
	}
	&._checked {
		&:after {
			opacity: 1;
			transform: scale(1) rotate(-45deg);
		}
	}
	&._disabled {
		box-shadow: none;
		color: var(--input-disabled-text);
		border-color: var(--input-disabled-border);
	}
}