
/*#region [base][:]*/
.input {
	z-index: 1;
	width: 100%;
	margin: 0px;
	resize: none;
	outline: none;
	display: block;
	box-shadow: none;
	position: relative;
	border-radius: 0px;
	color: var(--input-text);

	&::placeholder {
		color: var(--input-label);
		text-transform: uppercase;
		transition: color .15s $es;
	}
	&:focus {
		&::placeholder {
			color: transparent;
		}
	}
	&:hover,
	&:focus {
		border-color: var(--input-focus);
		box-shadow:
			inset 0px 0px 0px 100px var(--input-fill),
			0px 0px 0px var(--input-focus);
	}
	&._error,
	&.kladr-error {
		border-color: var(--input-error);
		box-shadow:
			inset 0px 0px 0px 100px var(--input-fill),
			0px 0px 0px 1px var(--input-error);
	}
}
/*#endregion [base][;]*/

/*#region [theme][:]*/
.input {
	height: 46px;
	color: #333;
	padding: 0px 15px;
	font: 500 14px/18px $f1;
	background: var(--input-fill);
	border: 1px solid var(--input-border);
	transition:
		border .3s $es,
		box-shadow .3s $es;
	box-shadow:
		inset 0px 0px 0px 100px var(--input-fill),
		0px 0px 0px 3px transparent;

	&::placeholder {
		font-weight: normal;
	}

	&._area {
		height: 130px;
		padding-top: 13px;
	}
}
/*#endregion [theme][;]*/