.iradio {
	z-index: 1;
	width: 30px;
	height: 30px;
	cursor: pointer;
	color: var(--c5);
	background: #fff;
	border-radius: 50%;
	position: relative;
	vertical-align: top;
	display: inline-block;
	border: 1px solid var(--input-border);
	box-shadow: 0px 0px 0px 3px transparent;
	transition:
		border .3s $es,
		box-shadow .3s $es;

	&:after {
		top: 50%;
		left: 50%;
		opacity: 0;
		width: 12px;
		height: 12px;
		content: '';
		display: block;
		position: absolute;
		border-radius: 50%;
		pointer-events: none;
		transform: scale(1.5);
		transition: all .3s $es;
		background: currentColor;
		margin: -6px 0px 0px -6px;
	}

	&:hover,
	&._hover {
		border-color: var(--input-focus);
		box-shadow: 0px 0px 0px var(--input-focus);
	}
	&._error {
		border-color: var(--input-error);
		box-shadow: 0px 0px 0px 1px var(--input-error);
	}
	&._checked {
		&:after {
			opacity: 1;
			transform: scale(1);
		}
	}
	&._disabled {
		box-shadow: none;
		color: var(--input-disabled-text);
		border-color: var(--input-disabled-border);
	}
}