.lPage {
	display: flex;
	min-height: 100%;
	flex-flow: column;
	position: relative;
	font-size: $base-sz;
	font-family: $base-fn;
	color: var(--color-text);
	background: var(--color-body);
	line-height: $base-lh !important;

	@media print {
		display: block;
		min-width: auto;
		min-height: auto;
	}

	&:after {
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 10;
		content: '';
		height: 120px;
		display: block;
		position: absolute;
		background: linear-gradient(180deg, #64c8da 0%, rgba(#fff, 0) 100%);

		@media print {
			display: none;
		}
	}
}

.lMain {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;

	@mixin screen_to, $w-mbl-point {
		padding-bottom: 60px;
	}
}

.lHead {
	position: relative;
	text-align: center;

	@mixin screen_to, $w-mbl-point {
		margin-top: 34px;
		padding: 0px 15px;
	}

	&_btn {
		margin-top: 24px;
	}
	&_title {
		margin: 0px;
		font-weight: 500;

		@mixin screen_to, $w-mbl-point {
			font: 500 26px/30px $f1;
		}
	}
}

.lWrap {
	max-width: 878px;
	margin: 0px auto;
	padding: 0px 15px;
	position: relative;

	& :first-child {
		margin-top: 0px;
	}
}

.lHide {
	display: none;
}