.l404 {
	font: 0/0 serif;
	padding: 0px 15px;
	position: relative;
	text-align: center;
	margin: 72px auto 0px;

	@mixin screen_to, $w-mbl-point {
		max-width: var(--sz-mbl);
	}

	&_img {
		max-width: 613px;
		margin: 8px auto 0px;
		background: url(/assets/img/design/decore/error-613x279.png);
		background-size: contain;

		@media
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 120dpi) {
			background: url(/assets/img/design/decore/error-613x279@2.png);
		}

		&:after {
			content: '';
			display: block;
			padding-bottom: calc(100% / (613 / 279));
		}
	}
	&_title {
		text-align: left;
		vertical-align: top;
		display: inline-block;
		font: 500 24px/30px $f1;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			text-align: center;
		}

		a {
			border-width: 2px;
			display: inline-block;
		}
	}
}