.lFooter {
	z-index: 0;
	width: 100%;
	height: 280px;
	flex: 0 0 auto;
	font: 0/0 serif;
	padding: 0px 20px;
	position: relative;
	margin: 50px auto 0px;
	transform: translateZ(0);
	background: url('/assets/img/design/bg/footer-1.jpg') 50% 100% no-repeat;

	@media print {
		display: none;
	}
	@mixin screen_to, $w-mbl-point {
		height: 200px;
		overflow: hidden;
		padding: 0px 15px;
		margin-top: -106px;
		background-position-y: 20%;
		background-size: 1280px auto;
	}

	&:after,
	&:before {
		z-index: -1;
		content: '';
		display: block;
		position: absolute;
	}
	&:after {
		left: 50%;
		background-size: contain;
		background-repeat: no-repeat;

		@mixin screen_to, $w-mbl-point {
			content: normal;
		}
	}
	&:before {
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 50px;
		background: #f4f4f4;
	}


	&_box {
		height: 100%;
		margin: 0px auto;
		position: relative;
		max-width: var(--sz);
	}

	&._1 {
		&:after {
			bottom: 17px;
			width: 494px;
			height: 218px;
			margin-left: -321px;
			background-image: url('/assets/img/design/decore/story/1-494x218.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/story/1-494x218@2.png');
			}
		}
	}
	&._2 {
		&:after {
			bottom: 35px;
			width: 381px;
			height: 194px;
			margin-left: -333px;
			background-image: url('/assets/img/design/decore/story/2-381x194.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/story/2-381x194@2.png');
			}
		}
	}
	&._3 {
		&:after {
			bottom: 62px;
			width: 261px;
			height: 201px;
			margin-left: -465px;
			background-image: url('/assets/img/design/decore/story/3-261x201.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/story/3-261x201@2.png');
			}
		}
	}
	&._4 {
		&:after {
			bottom: 22px;
			width: 363px;
			height: 248px;
			margin-left: -507px;
			background-image: url('/assets/img/design/decore/story/4-363x248.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/story/4-363x248@2.png');
			}
		}
	}
	&._5 {
		&:after {
			bottom: 49px;
			width: 325px;
			height: 193px;
			margin-left: -388px;
			background-image: url('/assets/img/design/decore/story/5-325x193.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/story/5-325x193@2.png');
			}
		}
	}
	&._6 {
		&:after {
			bottom: 22px;
			width: 126px;
			height: 215px;
			margin-left: -167px;
			background-image: url('/assets/img/design/decore/story/6-126x215.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/story/6-126x215@2.png');
			}
		}
	}
	&._7 {
		&:after {
			bottom: 41px;
			width: 152px;
			height: 102px;
			margin-left: -142px;
			background-image: url('/assets/img/design/decore/story/7-152x102.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/story/7-152x102@2.png');
			}
		}
	}
}