.lHeader {
	width: 100%;
	z-index: 155;
	height: 125px;
	font: 0/0 serif;
	padding-top: 6px;
	position: relative;
	max-width: var(--sz);
	margin: 0px auto 72px;

	@media print {
		display: none;
	}
	@mixin screen_to, 1280px {
		text-align: center;
	}
	@mixin screen_to, $w-mbl-point {
		height: auto;
		margin-bottom: 34px;
		background: #64c8da;
		max-width: var(--sz);
		padding: 14px 15px 0px;
		box-shadow: 0px -40px 30px 60px #64c8da;
	}

	&_tel {
		color: #fff;
		font: 14px/24px $f1;
		vertical-align: top;
		display: inline-block;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			display: block;
			margin-top: 19px;
			line-height: 18px;
		}

		a {
			color: #fff;
			font-weight: 700;
			letter-spacing: .5px;
			display: inline-block;
			transition: color .3s $es;

			&:hover {
				color: var(--c6);
			}
		}
	}
	&_lnk {
		color: #fff;
		font: 14px/16px $f1;
		vertical-align: top;
		display: inline-block;
		margin: 4px 0px 0px 28px;
		text-transform: uppercase;
		transition: color .3s $es;

		@mixin screen_to, $w-mbl-point {
			margin-top: 12px;
		}

		&:before {
			margin-right: 10px;
			vertical-align: top;
			font: 24px/16px $ico;
			display: inline-block;
		}

		&._mail {
			@mixin screen_to, $w-mbl-point {
				margin-left: 0px;
			}

			&:before {
				content: $ico-mail;
			}
		}
		&._rule {
			margin-left: 28px;

			@mixin screen_to, $w-mbl-point {
				display: none;
			}

			&:before {
				content: $ico-file;
			}
		}

		&:hover,
		&._active {
			color: var(--c6);
		}
	}
	&_info {
		z-index: 10;
		position: relative;
		margin-left: 283px;

		@mixin screen_to, 1280px {
			padding: 0 35px;
			margin-left: 0px;
			text-align: center;
		}
		@mixin screen_to, $w-mbl-point {
			margin-top: -15px;
		}
	}
	&_logo {
		top: 20px;
		left: 72px;
		z-index: 50;
		border: none;
		width: 164px;
		height: 164px;
		color: var(--c6);
		overflow: hidden;
		text-indent: 100%;
		position: absolute;
		border-radius: 50%;
		white-space: nowrap;
		vertical-align: top;
		font: 700 18px/1 $f1;
		display: inline-block;
		text-transform: uppercase;
		background: url('/assets/img/logo-164x164.png') no-repeat;
		background-size: contain;

		@mixin screen_to, 1280px {
			display: none;

			/*
			top: auto;
			left: auto;
			width: auto;
			height: auto;
			text-indent: 0px;
			margin: 10px auto;
			position: relative;
			border-radius: 0px;
			white-space: normal;
			background: -100% 0% no-repeat;
			*/
		}
		@mixin screen_to, $w-mbl-point {
			margin: 0px;
		}
		@media
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 120dpi) {
			background-image: url('/assets/img/logo-164x164@2.png');
		}

		br {
			display: none;

			@mixin screen_to, $w-mbl-point {
				display: block;
			}
		}

		&._index {
			display: none;
		}
	}
}