.lHero {
	color: var(--c6);
	max-width: $w-dsk;
	min-height: 735px;
	position: relative;
	margin: -72px auto 0px;
	text-transform: uppercase;
	padding: 137px 0px 180px 542px;

	@mixin screen_to, 1120px {
		min-height: auto;
		text-align: center;
		padding: 40px 15px 0px;
		margin: -84px auto 60px;
	}
	@mixin screen_to, $w-mbl-point {
		margin-top: -34px;
	}

	/*#region [scheme][:]*/
	&_body {
		&:before {
			content: '';
			display: table;
		}
	}
	&_info {
		z-index: 10;
		max-width: 544px;
		position: relative;

		@mixin screen_to, 1120px {
			max-width: none;
			margin-top: 24px;
		}
	}
	&_text {
		margin-top: 20px;
		font: 16px/1.25 $f1;

		& :first-child {
			margin-top: 0px;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_btn {
		margin-top: 24px;
	}
	&_logo {
		top: 0px;
		left: 64px;
		width: 100%;
		z-index: 150;
		display: block;
		max-width: 328px;
		margin-top: 36px;
		position: absolute;
		border-radius: 50%;
		background: url('/assets/img/logo-328x328.png') no-repeat;
		background-size: contain;

		@media
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 120dpi) {
			background-image: url('/assets/img/logo-328x328@2.png');
		}
		@mixin screen_to, 1120px {
			left: auto;
			position: relative;
			margin: 36px auto 0px;
		}

		&:after {
			content: '';
			display: block;
			padding-bottom: 100%;
		}

		&_tag {
			left: 0px;
			right: 0px;
			bottom: 100%;
			display: block;
			position: absolute;
			text-align: center;
			margin-bottom: 18px;
			text-transform: none;
			font: 500 24px/20px $f1;
		}
	}
	&_down {
		left: 50%;
		width: 60px;
		height: 60px;
		bottom: 100px;
		color: var(--c5);
		background: #fff;
		border-radius: 50%;
		position: absolute;
		margin-left: -30px;
		transition: color .3s $es;
		box-shadow: 0px 0px 6px 4px rgba(#fff, .5);

		@mixin screen_to, 1120px {
			display: none;
		}

		&:after {
			top: 50%;
			left: 50%;
			content: '';
			width: 14px;
			height: 14px;
			display: block;
			position: absolute;
			transform: rotate(45deg);
			margin: -10px 0px 0px -7px;
			border-right: 4px solid currentColor;
			border-bottom: 4px solid currentColor;
			animation: lHero-down 1s $es infinite alternate;
		}

		&:hover {
			color: var(--c6);
		}
	}
	&_unit {
		z-index: 5;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;

		@mixin screen_to, 1120px {
			display: none;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			background: #000;
			border-radius: 2px;
			transform-origin: 50% 100%;
		}

		&._1 {
			top: 50px;
			left: 388px;
			width: 158px;
			height: 81px;
			transform-origin: 70px 52px;
			animation: lHero-unit-1 1.5s $es infinite alternate;
			background-image: url(/assets/img/design/decore/heroes/1-158x81.png);

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url(/assets/img/design/decore/heroes/1-158x81@2.png);
			}

			&:after {
				top: 26px;
				left: 47px;
				width: 2px;
				height: 7px;
				animation: lHero-eye-1 1.5s $es infinite alternate;
				transform: perspective(1px) rotateX(2deg) rotateY(-4deg) rotate(-35deg);
			}
		}
		&._2 {
			left: 186px;
			width: 210px;
			bottom: -2px;
			height: 318px;
			background-image: url(/assets/img/design/decore/heroes/2-210x318.png);

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url(/assets/img/design/decore/heroes/2-210x318@2.png);
			}

			&:after {
				top: 26px;
				width: 4px;
				left: 170px;
				height: 20px;
				animation: lHero-eye-2 1s $es infinite alternate;
				transform: perspective(1px) rotateX(2deg) rotateY(-4deg) rotate(-38deg);
			}
		}
		&._3 {
			right: 162px;
			width: 197px;
			height: 385px;
			bottom: -34px;
			background-image: url(/assets/img/design/decore/heroes/3-197x385.png);

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url(/assets/img/design/decore/heroes/3-197x385@2.png);
			}

			&:after {
				top: 32px;
				left: 54px;
				width: 4px;
				height: 20px;
				animation: lHero-eye-3 1s $es .5s infinite alternate;
				transform: perspective(1px) rotateX(4deg) rotateY(1deg) rotate(41deg);
			}
		}
	}
	&_title {
		margin: 0px;
		text-align: left;
		font: 700 34px/lh(36, 34) $f1 !important;

		@mixin screen_to, 1120px {
			text-align: center;
			font-size: 18px !important;
		}

		&_city {
			display: block;
			font-size: 26px;
			margin-top: 13px;
			font: 400 26px/lh(28, 26) $f1;

			@mixin screen_to, 1120px {
				font-size: 20px;
				margin-top: 13px;
			}

			small {
				display: block;
				font-size: 18px;
				margin-top: 16px;
				color: currentColor;

				@mixin screen_to, 1120px {
					margin-top: 17px;
				}
			}
		}
	}
	/*#endregion [object][;]*/

}

@keyframes lHero-down {
	100% {
		transform: translateY(3px) rotate(45deg);
	}
}
@keyframes lHero-eye-1 {
	100% {
		transform: perspective(1px) rotateX(2deg) rotateY(-4deg) rotate(-35deg) scaleY(.4);
	}
}
@keyframes lHero-eye-2 {
	100% {
		transform: perspective(1px) rotateX(2deg) rotateY(-4deg) rotate(-35deg) scaleY(.3);
	}
}
@keyframes lHero-eye-3 {
	100% {
		transform: perspective(1px) rotateX(4deg) rotateY(1deg) rotate(41deg) scaleY(.3);
	}
}
@keyframes lHero-unit-1 {
	100% {
		transform: translateY(15px) rotate(5deg);
	}
}