.lLoader {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1500;
	display: none;
	position: fixed;
	background: rgba(#000, .85);

	&_spin {
		top: 50%;
		width: 64px;
		height: 64px;
		overflow: hidden;
		position: relative;
		margin: -24px auto 0px;

		span,
		&:after,
		&:before {
			top: 0px;
			left: 0px;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			border-radius: 50%;
			position: absolute;
			border: 6px solid #fff;
			animation: loader 1.2s $es infinite both;
			border-color: #fff transparent transparent transparent;
		}
		span {
			animation-delay: -0.45s;
		}
		&:after {
			animation-delay: -0.3s;
		}
		&:before {
			animation-delay: -0.15s;
		}
	}
}

@keyframes loader {
	100% {
		transform: rotate(360deg);
	}
}