.lOverlay {
	top: 0px;
	left: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	visibility: hidden;
	transition: all .3s $es;
	background: rgba(var(--c6), .8);

	&._show {
		@mixin screen_to, $w-mbl-point {
			opacity: 1;
			visibility: visible;
		}
	}
}