.lView {
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	overflow: hidden;
	position: absolute;
	background: #a0ebf5 50% 0% no-repeat;

	@media print {
		display: none;
	}
	@mixin screen_to, $w-mbl-point {
		top: 60px;
	}

	&:after {
		left: 0px;
		right: 0px;
		bottom: 0px;
		content: '';
		height: 150px;
		position: absolute;
		pointer-events: none;
		background: linear-gradient(180deg, #a0ebf5 0%, #dbf3ff 100%);
	}

	&_layer {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		transform: translateZ(0);
		background: 50% 0% no-repeat;

		&:after {
			top: 0px;
			left: 50%;
			z-index: -1;
			color: #fff;
			position: absolute;
			font: 414px/1 $ico;
			margin-left: -955px;
			pointer-events: none;
			text-shadow:
				0px 0px 6px #fff,
				0px 0px 6px #fff;
		}

		&._1 {
			&:after {
				font-size: 775px;
				content: $ico-path;
				margin-left: -1301px;
				text-shadow: -3px 3px 2px #6bc0cc;
			}
		}
		&._2 {
			&:after {
				content: $ico-snow;
			}
		}
		&._3 {
			&:after {
				content: $ico-stars;
			}
		}
	}


	&._index {
		height: calc(862px + 150px);
		background-image: url('/assets/img/design/bg/header-1.jpg');
	}
	&._inner {
		height: calc(408px + 150px);
		background-image: url('/assets/img/design/bg/header-2.jpg');

		@mixin screen_to, $w-mbl-point {
			height: calc(358px + 150px);
		}
	}
}