.form {
	z-index: 1;
	color: #333;
	margin: 0px auto;
	max-width: 1024px;
	position: relative;
	font: 14px/18px $f1;

	@mixin screen_to, $w-mbl-point {
		max-width: var(--sz-mbl);
	}

	ul {
		padding: 0px;
		margin: 12px 0px 0px !important;
	}
	li {
		margin-top: 12px;

		&:first-child {
			margin-top: 0px;
		}
	}

	&_row {
		display: flex;
		color: var(--c3);
		position: relative;
		margin-top: var(--gap);
		transition: color .3s $es;

		@mixin screen_to, $w-mbl-point {
			display: block;
			padding-top: 14px;
		}

		&_lbl {
			width: 50%;
			color: var(--c3);
			font: 16px/46px $f1;
			text-transform: uppercase;

			@mixin screen_to, $w-mbl-point {
				width: 100%;
				display: block;
				line-height: 1.25;
				margin-bottom: 7px;
			}
		}
		&_body {
			width: 50%;
			display: flex;

			@mixin screen_to, $w-mbl-point {
				width: 100%;
			}
		}
		&_input {
			flex: 1 0 0;

			& + & {
				margin-left: 10px;
			}
		}

		&._snow {
			&:after {
				top: 0px;
				right: 100%;
				display: block;
				margin-right: 10px;
				position: absolute;
				content: $ico-flake;
				font: 24px/46px $ico;
			}
		}
		&._error {
			color: var(--input-error);
		}
	}

	&_box {
		max-width: 809px;
		padding-left: 255px;

		@mixin screen_to, $w-mbl-point {
			padding: 0px 15px 0px 40px;
		}
	}
	&_note {
		display: block;
		color: var(--c3);
		padding-top: 4px;
		position: relative;
		font: 14px/18px $f1;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			margin-bottom: 23px;
		}

		&:after {
			top: 0px;
			right: 100%;
			display: block;
			font: 24px/1 $ico;
			margin-right: 10px;
			position: absolute;
			content: $ico-flake;
			transition: color .3s $es;
		}

		&._warn {
			display: none;
			margin-top: 20px;
			color: var(--input-error);

			&._show {
				display: block;
			}
		}
	}
	&_case {
		position: relative;

		&_name {
			top: 16px;
			right: 100%;
			width: 255px;
			display: block;
			color: var(--c6);
			text-align: right;
			position: absolute;
			padding-right: 58px;
			font: 500 16px/1 $f1;
			text-transform: uppercase;

			@mixin screen_to, $w-mbl-point {
				top: auto;
				right: auto;
				width: auto;
				padding: 0px;
				text-align: left;
				position: relative;
				margin-bottom: -12px;
			}

			&._up {
				top: 5px;

				@mixin screen_to, $w-mbl-point {
					top: auto;
					margin-bottom: -10px;
				}
			}
		}

		& + & {
			margin-top: var(--gap2x);
		}
	}
	&_input {
		margin-top: var(--gap);
	}
	&_field {
		padding-top: 4px;
		position: relative;
		margin-top: var(--gap);

		&:after {
			top: 0px;
			right: 100%;
			display: block;
			color: var(--c3);
			font: 24px/1 $ico;
			margin-right: 10px;
			position: absolute;
			content: $ico-flake;
			transition: color .3s $es;
		}

		ul {
			margin-top: 12px;
		}

		.eFile {
			margin-top: 16px;
		}
		.input,
		.eField {
			margin-top: 11px;
		}

		&_lbl {
			display: block;
			color: var(--c3);
			position: relative;
			font: 14px/18px $f1;
			text-transform: uppercase;
		}

		&._btn {
			padding-top: 0px;

			&:after {
				line-height: 46px;
			}
		}
		&._error {
			&:after {
				color: var(--input-error);
			}
		}
	}
	&_title {
		text-align: center;
		margin-bottom: 35px;

		@mixin screen_to, $w-mbl-point {
			margin: 0px 0px 27px -20px;
		}
	}
	&_submit {
		max-width: 280px;
		margin-top: 40px;

		@mixin screen_to, $w-mbl-point {
			display: block;
			margin: 40px auto 0px;
		}
	}
}

.eHint {
	cursor: help;
	color: var(--c5);
	position: relative;
	transition: color .3s $es;
	border-bottom: 1px dashed var(--c3);

	&:hover {
		color: var(--c6);
	}
}

.eBday {
	font: 0/0 serif;
	color: var(--c3);
	user-select: none;
	position: relative;
	margin-top: var(--gap);
	transition: color .3s $es;

	&:after {
		width: 100%;
		content: '';
		display: table;
	}
	&:before {
		top: 0px;
		right: 100%;
		display: block;
		margin-right: 10px;
		position: absolute;
		content: $ico-flake;
		font: 24px/46px $ico;

		@mixin screen_to, $w-mbl-point {
			top: -4px;
			line-height: 1;
		}
	}

	&_lbl {
		color: var(--c3);
		font: 16px/46px $f1;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			line-height: 1;
			display: block;
			margin-bottom: 18px;
		}
	}
	&_body {
		float: right;

		@mixin screen_to, $w-mbl-point {
			float: none;
		}
	}
	&_item {
		width: 100px;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $w-mbl-point {
			width: 78px;
		}

		&._y {
			@mixin screen_to, $w-mbl-point {
				width: 89px;
			}
		}
		& + & {
			margin-left: 10px;
		}
	}

	&._error {
		color: var(--input-error);
	}
}

.eFile {
	font: 0/0 serif;
	padding-left: 20px;

	&_ico {
		width: 16px;
		height: 16px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin: 1px 10px 0px 0px;
		transition: transform .3s $es;

		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			background: currentColor;
		}
		&:after {
			top: 0px;
			left: 50%;
			width: 4px;
			height: 16px;
			margin-left: -2px;
		}
		&:before {
			top: 50%;
			left: 0px;
			width: 16px;
			height: 4px;
			margin-top: -2px;
			transform-origin: 100% 50%;
			transition: transform .3s $es;
		}
	}
	&_lbl {
		font: 500 14px/18px $f1;

		&:after {
			content: attr(data-two);
		}

		&:empty {
			&:after {
				content: attr(data-one);
			}
		}
	}

	&-filled {
		^&_ico {
			transform: rotate(45deg);

			&:before {
				transform: translate(-6px, 6px) scaleX(.625);
			}
		}
		^&_lbl {
			&:empty {
				&:after {
					content: attr(data-two);
				}
			}
		}
	}
}

.eField {
	font: 0/0 serif;
	color: var(--c3);
	user-select: none;
	position: relative;
	margin-top: var(--gap);
	transition: color .3s $es;

	&_input {
		font-size: 16px;
		padding-top: 12px;

		&._area {
			padding-top: 20px;
		}
		&:focus,
		&._filled,
		&:not(:empty),
		&[value]:not([value='']) {
			& ~ label {
				padding-top: 1px;
				background: var(--input-fill);
				transform: translateY(-15px) scale(.8);
				box-shadow: 0px 0px 0px 3px var(--input-fill);
			}
		}
	}
	&_label {
		top: 16px;
		left: 16px;
		z-index: 2;
		font: 16px/1 $f1;
		position: absolute;
		border-radius: 5px;
		pointer-events: none;
		color: var(--input-label);
		transform-origin: 0% 100%;
		text-transform: uppercase;
		transition: transform .15s $es;
	}

	&._snow {
		&:after {
			top: 0px;
			right: 100%;
			display: block;
			margin-right: 10px;
			position: absolute;
			content: $ico-flake;
			font: 24px/46px $ico;
		}
	}
	&._error {
		color: var(--input-error);
	}
}

.eAgree {
	cursor: pointer;
	color: var(--c3);
	min-height: 30px;
	position: relative;
	font: 16px/20px $f1;
	margin-top: var(--gap);
	padding: 5px 0px 0px 45px;
	text-transform: uppercase;
	transition: color .3s $es;

	a {
		border-bottom: 2px solid currentColor;
	}

	.iradio,
	.icheckbox {
		top: 0px;
		left: 0px;
		position: absolute;
	}

	&._snow {
		&:after {
			top: 0px;
			right: 100%;
			display: block;
			margin-right: 10px;
			position: absolute;
			content: $ico-flake;
			font: 24px/30px $ico;
		}
	}
	&._error {
		color: var(--input-error);
	}
}

.eFlags {
	display: flex;
	color: var(--c3);
	user-select: none;
	position: relative;
	margin-top: var(--gap);
	transition: color .3s $es;

	@mixin screen_to, $w-mbl-point {
		flex-wrap: wrap;
	}

	&:before {
		top: 0px;
		right: 100%;
		display: block;
		margin-right: 10px;
		position: absolute;
		content: $ico-flake;
		font: 24px/46px $ico;

		@mixin screen_to, $w-mbl-point {
			top: -4px;
			line-height: 1;
		}
	}

	&_lbl {
		flex-grow: 0;
		color: var(--c3);
		font: 16px/46px $f1;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			line-height: 1;
			display: block;
			margin-bottom: 7px;
		}
	}
	&_body {
		width: 100%;
		padding: 8px 0px 0px 30px;

		@mixin screen_to, $w-mbl-point {
			padding: 0px 0px 0px;
		}
	}
	&_item {
		cursor: pointer;
		font: 11px/30px $f1;
		vertical-align: top;
		display: inline-block;
		text-transform: uppercase;

		.iradio,
		.icheckbox {
			margin-right: 6px;
		}

		& + & {
			margin-left: 30px;
		}
	}

	&._error {
		color: var(--input-error);
	}
}