.fRinks {
	font: 0/0 serif;
	padding: 0px 20px;
	user-select: none;
	text-align: center;
	max-width: var(--sz);
	margin: 33px auto -20px;

	@mixin screen_to, $w-mbl-point {
		padding: 0px 15px;
	}

	&_row {
		margin-top: var(--gap);
	}
	&_sort {
		vertical-align: top;
		display: inline-block;
		background: var(--c2);
		margin-left: var(--gap);

		@mixin screen_to, $w-mbl-point {
			width: 290px;
			margin: 20px 0px 0px;
		}

		&_lnk {
			width: 146px;
			cursor: pointer;
			color: var(--c5);
			background: #fff;
			position: relative;
			font: 16px/44px $f1;
			vertical-align: top;
			display: inline-block;
			text-transform: uppercase;
			border: 0px solid var(--c2);
			border-width: 1px 0px 1px 0px;
			transition:
				color .3s $es,
				background .3s $es;

			@mixin screen_to, $w-mbl-point {
				width: 50%;
			}

			.ico {
				color: var(--c3);
				margin-left: 10px;
				white-space: nowrap;
				vertical-align: top;
				display: inline-block;

				&:after,
				&:before {
					vertical-align: top;
					font: 24px/44px $ico;
					display: inline-block;
					transition: color .3s $es;
				}
				&:after {
					content: $ico-arw-t1;
				}
				&:before {
					content: $ico-arw-b1;
				}
			}

			& + & {
				&:after {
					top: 0px;
					width: 1px;
					content: '';
					right: 100%;
					height: 100%;
					display: block;
					position: absolute;
					background: var(--c2);
				}
			}
			&:hover {
				color: var(--c6);
			}
			&._active {
				background: #8cd7e4;
				border-color: #8cd7e4;

				&._asc {
					.ico {
						&:before {
							color: var(--c5);
						}
					}
				}
				&._desc {
					.ico {
						&:after {
							color: var(--c5);
						}
					}
				}
			}
			&:last-child {
				border-right-width: 1px;
			}
			&:first-child {
				border-left-width: 1px;
			}
		}
	}
	&_city {
		white-space: nowrap;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $w-mbl-point {
			display: block;
		}

		&_lbl {
			color: var(--c6);
			position: relative;
			margin-right: 20px;
			font: 16px/46px $f1;
			vertical-align: top;
			display: inline-block;
			text-transform: uppercase;
		}
		&_input {
			width: 295px;
			vertical-align: top;
			display: inline-block;

			@mixin screen_to, $w-mbl-point {
				width: 220px;
			}
		}
	}
}