.mFaq {
	display: flex;
	flex-flow: wrap;
	user-select: none;

	@mixin screen_to, $w-mbl-point {
		display: block;
	}

	&_lnk {
		flex-grow: 1;
		flex-basis: 0;
		cursor: pointer;
		color: var(--c5);
		background: #fff;
		text-align: center;
		font: 16px/46px $f1;
		text-transform: uppercase;
		transition:
			color .3s $es,
			background .3s $es;

		@mixin screen_to, $w-mbl-point {
			display: block;
		}

		& + & {
			margin-left: 3px;

			@mixin screen_to, $w-mbl-point {
				margin: 3px 0px 0px;
			}
		}
		&:hover {
			color: var(--c6);
		}
		&._active {
			color: #fff;
			background: var(--c6);
		}
	}
}