.mMain {
	z-index: 30;
	font: 0/0 serif;
	max-width: $w-dsk;
	position: relative;
	margin: 24px 0px 0px 327px;

	@mixin screen_to, 1280px {
		margin: 24px 0px 0px;
	}
	@mixin screen_to, $w-mbl-point {
		margin: 0;
		top: 100%;
		left: 0px;
		right: 0px;
		opacity: 0;
		max-height: 0px;
		overflow: hidden;
		text-align: left;
		margin-top: -20px;
		position: absolute;
		visibility: hidden;
		background: #dbf4ff;
		transition:
			opacity .3s $es,
			max-height .3s $es,
			visibility .3s $es;
	}

	&_ul {
		margin: 0px;
		padding: 0px;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $w-mbl-point {
			display: block;
			margin: 0px auto;
			max-width: var(--sz-mbl);
		}
	}
	&_li {
		margin: 0px;
		padding: 0px;
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		display: inline-flex;

		@mixin screen_to, $w-mbl-point {
			display: block;
		}

		&:before {
			content: normal;
		}

		& + & {
			margin-left: 20px;

			@mixin screen_to, $w-mbl-point {
				margin-left: 0px;
				border-top: 1px solid #63c8da;
			}
		}
	}
	&_lnk {
		order: 2;
		text-align: center;
		white-space: normal;
		vertical-align: top;
		display: inline-block;
		font: 500 16px/20px $f1;
		color: var(--color-link);
		transition: color .3s $es;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			display: block;
			text-align: left;
			padding: 15px 15px 16px;
		}

		br {
			@mixin screen_to, $w-mbl-point {
				display: none;
			}
		}

		& + & {
			@mixin screen_to, $w-mbl-point {
				border-top: 1px solid #63c8da;
			}
		}
		&._ico {
			font: 14px/24px $f1;

			@mixin screen_to, $w-mbl-point {
				font-size: 16px;
				padding: 14px 15px 13px;
			}

			&:before {
				font: 24px/1 $ico;
				text-align: center;
				vertical-align: top;
				display: inline-block;
				margin: -1px 10px 0px 0px;

				@mixin screen_to, $w-mbl-point {
					min-width: 24px;
				}
			}
		}
		&._mail {
			display: none;

			@mixin screen_to, $w-mbl-point {
				display: block;
			}

			&:before {
				content: $ico-mail;
			}
		}
		&._rule {
			display: none;

			@mixin screen_to, $w-mbl-point {
				display: block;
			}

			&:before {
				content: $ico-file;
			}
		}
		&:hover,
		&._active {
			color: var(--c6);

			& + ^^&_star {
				&:after {
					transform: scaleY(5);
				}

				.ico {
					transform: translateY(40px);

					&:before {
						transform: scale(1.2632);
					}
				}
			}
		}
	}
	&_star {
		order: 1;
		z-index: -1;
		color: #fff;
		position: relative;
		margin-right: -5px;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $w-mbl-point {
			display: none;
		}

		&:after,
		&:before {
			left: 50%;
			width: 1px;
			z-index: -1;
			content: '';
			display: block;
			position: absolute;
		}
		&:after {
			top: 0px;
			height: 10px;
			background: #fff;
			transform-origin: 0% 0%;
			transition: transform .3s $es;
		}
		&:before {
			height: 54px;
			bottom: 100%;
			background: linear-gradient(180deg, rgba(#fff, 0) 25px, #fff 100%);
		}

		.ico {
			margin-top: -5px;
			position: relative;
			transition: transform .3s $es;

			&:after,
			&:before {
				font: 0/1 $ico;
				display: block;
			}
			&:before {
				top: 0px;
				left: 0px;
				z-index: -1;
				opacity: .5;
				color: transparent;
				position: absolute;
				transition: transform .3s $es;
				text-shadow:
					0px 0px 10px #fff,
					0px 0px 10px #fff,
					0px 0px 10px #fff,
					0px 0px 10px #fff;
			}
		}

		&-1 {
			.ico {
				&:after,
				&:before {
					font-size: 24px;
					content: $ico-star-1;
				}
			}
		}
		&-2 {
			.ico {
				&:after,
				&:before {
					font-size: 32px;
					content: $ico-star-2;
				}
			}
		}
		&-3 {
			.ico {
				&:after,
				&:before {
					font-size: 38px;
					content: $ico-star-3;
				}
			}
		}
		&-4 {
			.ico {
				&:after,
				&:before {
					font-size: 29px;
					content: $ico-star-4;
				}
			}
		}
		&-5 {
			.ico {
				&:after,
				&:before {
					font-size: 31px;
					content: $ico-star-5;
				}
			}
		}
	}
	&_more {
		top: -2px;
		right: 30px;
		position: absolute;

		@mixin screen_to, $w-mbl-point {
			top: auto;
			right: auto;
			margin: 0px auto;
			position: relative;
			max-width: var(--sz-mbl);
			border-top: 1px solid #63c8da;
			border-bottom: 1px solid #63c8da;
		}
	}
	&_switch {
		top: 8px;
		right: 15px;
		z-index: 30;
		width: 29px;
		height: 30px;
		display: none;
		position: absolute;

		@mixin screen_to, $w-mbl-point {
			display: block;
		}

		.itm,
		&:after,
		&:before {
			top: 50%;
			left: 5px;
			width: 19px;
			height: 2px;
			content: '';
			display: block;
			margin-top: -1px;
			position: absolute;
			background: var(--c6);
			transition:
				opacity .3s $es,
				transform .3s $es;
		}
		&:after {
			transform: translateY(6px);
		}
		&:before {
			transform: translateY(-6px);
		}

		&._active {
			.itm {
				opacity: 0;
				transform: scaleX(0);
			}
			&:after {
				transform: rotate(45deg);
			}
			&:before {
				transform: rotate(-45deg);
			}
		}
	}
	&_account {
		width: 100%;
		display: block;
		white-space: nowrap;
		vertical-align: top;
		font: 500 16px/48px $f1;
		color: var(--color-link);
		margin: -8px 0px 0px 19px;
		transition: color .3s $es;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			margin: 0px;
			line-height: 32px;
			padding: 11px 15px 13px 15px;
		}

		&:before {
			content: '';
			width: 53px;
			height: 48px;
			margin-right: 5px;
			vertical-align: top;
			display: inline-block;
			transition: color .3s $es;
			background: url('/assets/img/design/ico/account.svg') no-repeat;
			background-size: contain;

			@mixin screen_to, $w-mbl-point {
				width: auto;
				height: auto;
				color: #3d72f6;
				background: none;
				margin-right: 10px;
				content: $ico-user;
				font: 24px/32px $ico;
			}
		}

		&:hover,
		&._active {
			color: var(--c6);

			&:before {
				color: var(--c6);
			}
		}
	}

	&._show {
		@mixin screen_to, $w-mbl-point {
			opacity: 1;
			max-height: 560px;
			visibility: visible;
			box-shadow: 0px 10px 10px 1px rgba(var(--c6), .4);
		}
	}
}

@keyframes mMain-star-rope {
	100% {
		transform: scaleY(5);
	}
}
@keyframes mMain-star-swing {
	100% {
		transform: translateY(40px);
	}
}
@keyframes mMain-star-pulse {
	100% {
		transform: scale(1.2632);
	}
}