.mNets {
	font: 0/0 serif;
	cursor: default;
	user-select: none;
	text-align: center;

	&__lnk {
		color: #fff;
		font: 40px/1 $ico;
		position: relative;
		vertical-align: top;
		display: inline-block;
		transition: color .3s $es;

		&:after {
			display: block;
			position: relative;
			border-radius: 50%;
			transition:
				box-shadow .3s $es,
				background .3s $es;
		}
		&:before {
			bottom: 0;
			left: 50%;
			width: 85%;
			height: 85%;
			content: '';
			display: block;
			position: absolute;
			border-radius: 50%;
			transition: all .3s $es;
			transform: translateX(-50%);
		}

		&_vk {
			color: var(--vk);

			&:after {
				content: $ico-vk;
			}
		}
		&_ok {
			color: var(--ok);

			&:after {
				content: $ico-ok;
			}
		}
		&_fb {
			color: var(--fb);

			&:after {
				content: $ico-fb;
			}
		}

		a&:hover {
			&:after {
				box-shadow: 0px 0px 10px 5px rgba(#5acbdc, .8);
			}
			&:before {
				background: #fff;
			}
		}

		& + & {
			margin-left: 20px;
		}
	}
	&__title {
		display: block;
		color: var(--c5);
		font: 14px/1 $f1;
		margin-bottom: 18px;
		text-transform: uppercase;
	}

	&._way {
		margin-top: 22px;
	}

	&_menu {
		display: none;
		margin-top: 38px;
		padding-bottom: 40px;

		@mixin screen_to, $w-mbl-point {
			display: block;
		}
	}
	&_rink {
		align-self: center;
		border-radius: 20px;
		background: var(--c1);
		padding: 18px 20px 20px;
		box-shadow: 0px 0px 10px 2px rgba(#fff, .6);

		@mixin screen_to, $w-mbl-point {
			display: none;
		}
	}
	&_foot {
		right: 0px;
		bottom: 30px;
		position: absolute;

		@mixin screen_to, $w-mbl-point {
			left: 0px;
			bottom: 20px;
		}
	}
	&_steps {
		^&__lnk {
			color: #fff;
			font-size: 48px;

			&_vk {
				a&:hover {
					color: var(--vk);
				}
			}
			&_ok {
				a&:hover {
					color: var(--ok);
				}
			}
			&_fb {
				a&:hover {
					color: var(--fb);
				}
			}
			&:hover {
				a&:after {
					box-shadow: 0px 0px 15px 1px rgba(#fff, .6);
				}
			}
		}
	}
}