.mPages {
	z-index: 10;
	color: #000;
	font: 0/0 serif;
	cursor: default;
	margin-top: -16px;
	user-select: none;
	text-align: center;
	position: relative;

	&_lnk {
		height: 36px;
		min-width: 40px;
		color: var(--c3);
		padding: 0px 5px;
		margin-left: 10px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		font: 700 18px/38px $f1;

		&:after {
			left: 0px;
			width: 100%;
			height: 3px;
			bottom: 0px;
			content: '';
			display: block;
			position: absolute;
			transform: scaleX(0);
			transition: all .3s $es;
			transform-origin: 0% 50%;
			background: currentColor;
		}

		a& {
			color: var(--c5);

			&:hover {
				color: var(--c7);
			}
		}
		&._arw {
			font: 500 24px/38px $f1;
		}
		a&:hover,
		&._active {
			&:after {
				transform: scaleX(1);
			}
		}
		&:first-child {
			margin-left: 0px;
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}