.mVote {
	flex-grow: 1;
	color: #fff;
	font: 0/0 serif;
	user-select: none;
	text-align: center;

	&__lnk {
		z-index: 15;
		width: 48px;
		height: 48px;
		cursor: pointer;
		font: 48px/1 $ico;
		position: relative;
		margin-right: 20px;
		color: currentColor;
		vertical-align: top;
		display: inline-block;

		&:after,
		&:before {
			bottom: 0;
			content: '';
			display: block;
			position: absolute;
			border-radius: 50%;
			transition: all .3s $es;
		}
		&:after {
			left: 0px;
			z-index: 2;
			position: relative;
			border-radius: 50%;
			transition: all .3s $es;
		}
		&:before {
			left: 50%;
			width: 85%;
			height: 85%;
			content: '';
			display: block;
			position: absolute;
			border-radius: 50%;
			transition: all .3s $es;
			transform: translateX(-50%);
		}

		&:hover {
			color: var(--c6);

			&:after {
				box-shadow: 0px 0px 10px 5px rgba(#fff, .6);
			}
			&:before {
				background-color: #fff;
			}
		}

		&_vk {
			&:after {
				content: $ico-vk;
			}

			&:hover {
				color: var(--vk);
			}
		}
		&_fb {
			&:after {
				content: $ico-fb;
			}

			&:hover {
				color: var(--fb);
			}
		}
		&_qr {
			width: 48px;

			&:after,
			&:before {
				left: 0px;
				width: 100%;
				content: '';
				display: block;
				will-change: opacity;
				transition: all .3s $es;
				transform: translateZ(0);
				background: 50% 50% no-repeat;
				background-size: contain;
			}
			&:after {
				top: 0px;
				z-index: 2;
				opacity: 0;
				right: 0px;
				bottom: 0px;
				position: absolute;
				background-image: url('/assets/img/design/ico/qr-circle-blue.svg');
			}
			&:before {
				z-index: 1;
				height: auto;
				position: relative;
				padding-bottom: 100%;
				background-image: url('/assets/img/design/ico/qr-circle-white.svg');
			}

			&:hover {
				&:after {
					opacity: 1;
				}
				&:before {
					opacity: 0;
				}
			}
		}

		&._disable {
			opacity: .6;
			cursor: default;
			pointer-events: none;
		}
		&:last-child {
			margin-right: 0px;
		}
	}
	&__title {
		display: block;
		color: var(--c3);
		white-space: nowrap;
		font: 500 18px/1 $f1;
		margin: -2px 0px 17px;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			font-size: 16px;
		}
	}

	&_rink {
		top: 0px;
		left: 0px;
		opacity: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		position: absolute;
		visibility: hidden;
		justify-content: center;
		transition: all .3s $es .3s;
		background: rgba(#3d72f6, .6);

		^&__title {
			color: #fff;
		}
	}
	&_voting {
		^&__lnk {
			width: 42px;
			height: 42px;
			font-size: 42px;
			margin-right: 16px;

			&:last-child {
				margin-right: 0px;
			}
		}
	}
}