h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2.5rem 0 1.25rem;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: var(--c6);
	text-transform: uppercase;
	font-family: $base-fn !important;
	line-height: $base-lh !important;
}

h1, .h1 {
	font-weight: 500;
	text-align: center;
}
h2, .h2 {
	font-weight: 500 !important;
}
h1, .h1,
h2, .h2 {
	font-size: $h2-sz !important;

	@mixin screen_to, $w-mbl-point {
		font-size: 24px !important;
	}
}
h3, .h3 {
	font-weight: 500 !important;
	font-size: $h3-sz !important;

	@mixin screen_to, $w-mbl-point {
		font-size: 20px !important;
	}
}
h4, .h4 {
	font-weight: 500 !important;
	font-size: $h4-sz !important;

	@mixin screen_to, $w-mbl-point {
		font-size: 18px !important;
	}
}
h5, .h5 {
	font-size: $h5-sz;
	font-weight: 700 !important;

	@mixin screen_to, $w-mbl-point {
		font-size: 16px !important;
	}
}
h6, .h6 {
	font-weight: 500 !important;
	font-size: $h6-sz !important;
}