a {
	outline: none;
}

.l404,
.lWrap,
.eAgree,
.pBase_text,
.rinks_empty,
.tFaq_item_body {
	a {
		display: inline;
		position: relative;
		text-decoration: none;
		color: var(--color-link);
		border-bottom: 2px solid var(--color-link);
		transition:
			color .3s $es,
			border .3s $es;

		&:hover {
			color: var(--color-hover);
			border-color: transparent;
		}
		&[href^="tel:"] {
			border: none;
		}
	}
}

.lnk {
	&1 {
		border: none;
		color: var(--cB1);
		margin-right: 20px;
		vertical-align: top;
		display: inline-block;
		padding: 0px 0px 1px 12px;
		text-transform: uppercase;
		transform: perspective(1px);

		&_txt {
			display: inline;
			margin-left: -12px;
			letter-spacing: 1px;
			vertical-align: top;
			font: 14px/22px $f1;
			padding: 0px 0px 3px 12px;
			transition: background .3s $es;
			background: var(--bg-line-blue);
			background-size: 10px 3px;
		}

		&-file {
			padding-left: 26px;

			&:after {
				content: normal;
			}

			^&_ico {
				top: 0px;
				left: 0px;
				width: 16px;
				height: 22px;
				display: block;
				color: var(--cB1);
				position: absolute;

				&:after,
				&:before {
					content: '';
					display: block;
					position: absolute;
					transition: all .3s $es;
					transform-origin: 50% 0%;
				}
				&:after {
					top: 10px;
					left: 7px;
					width: 7px;
					height: 7px;
					transform: rotate(45deg);
					border-right: 2px solid currentColor;
					border-bottom: 2px solid currentColor;
				}
				&:before {
					top: 4px;
					left: 50%;
					width: 2px;
					height: 12px;
					margin-left: -1px;
					background: currentColor;
				}
			}
			^&_txt {
				margin-left: -26px;
				padding-left: 26px;
				background-size: 16px 3px;
			}

			&:hover {
				^^&_ico {
					&:after {
						transform: translateY(2px) rotate(45deg);
					}
					&:before {
						transform: scaleY(1.1667);
					}
				}
			}
		}
		&:hover {
			^&_txt {
				background-size: 100% 3px;
			}
		}
		&:last-child {
			margin-right: 0px;
		}
	}
}