.form,
.lWrap,
.tFaq_item_body {
	ol,
	ul,
	li {
		padding: 0px !important;
		list-style: none !important;
	}
	ol,
	ul {
		display: block;
		counter-reset: l1;
		margin: 1.25rem 0px !important;

		@mixin screen_to, $w-mbl-point {
			padding-left: 0px;
		}

		li {
			margin: 0px !important;

			&:before {
				margin-right: 10px;
				vertical-align: top;
				display: inline-block;
			}

			&:first-child {
				margin-top: 0px;
			}

			@if $debug == 1 {
				background-color: #48bec4;
			}
		}

		&:last-child {
			margin-bottom: 0px !important;
		}
		&:first-child {
			margin-top: 0px !important;
		}
	}
	ol {
		li {
			&:before {
				counter-increment: l1;
				content: counter(l1)'.';
			}

			ol,
			ul {
				counter-reset: l2;

				li {
					&:before {
						counter-increment: l2;
						content: counter(l1)'.'counter(l2);
					}
				}
			}
		}
	}
	ul {
		li {
			&:before {
				content: '\2022';
				font-weight: normal;
			}
		}
	}
}