img {
	height: auto;
	display: block;
	max-width: 100%;

	&.-flft {
		margin-right: var(--gap);

		@mixin screen_to, $w-mbl-point {
			margin: 0px auto;
		}
	}
	&.-frgt {
		margin-left: var(--gap);

		@mixin screen_to, $w-mbl-point {
			margin: 0px auto;
		}
	}
	&.-cntr {
		margin: 0px auto;
	}
}
video {
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
	height: 100%;
	position: absolute;
}

.image {
	padding: 0px;
	display: block;
	color: var(--cG5);
	text-align: center;
	margin: 48px var(--gap-neg) 44px;

	&_src {
		width: 100%;
	}
	&_txt {
		margin-top: 15px;
		padding: 0px var(--gap);
	}

	&:last-child {
		margin-bottom: 0px;
	}
}
figure {
	margin: 0px;
}
figcaption {
	padding: 0px;
	display: block;
}