.quote {
	margin: 0px;
	color: var(--cG5);
	position: relative;
	font: 24px/28px $f1;
	padding: 17px 0px 35px;

	@mixin screen_to, $w-mbl-point {
		padding: 24px 0px 15px;
	}

	&:before {
		top: 0px;
		width: 5px;
		right: 100%;
		content: '';
		height: 100%;
		display: block;
		background: #000;
		position: absolute;
		margin-right: var(--gap2x);
		box-shadow: 2px 3px 3px rgba(#000, .15);

		@mixin screen_to, $w-mbl-point {
			margin-right: 15px;
		}
	}

	&_text {
		margin-top: 18px;
	}
	&_title {
		color: #000;
		font-weight: 700;
		position: relative;
		padding-left: 50px;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			padding-left: 47px;
		}

		&:after {
			left: 0px;
			top: -25px;
			content: '>/';
			display: block;
			color: var(--cB1);
			position: absolute;
			font: 700 57px/1 $f1;
			letter-spacing: -1px;

			@mixin screen_to, $w-mbl-point {
				top: -18px;
				font-size: 48px;
			}
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}