th,
td {
	font-weight: normal;
	border: 0px solid var(--cG2);
}
table {
	margin: 0px;
	border: none;
	text-align: left;
	border-collapse: collapse;
}

.table {
	overflow: auto;
	margin: 30px 0px;
	background: var(--cG1);
	-webkit-overflow-scrolling: touch;

	th {
		font-weight: 700;
	}
	th,
	td {
		border-width: 1px;
		padding: 16px 20px;

		&:last-child {
			border-right: 0px;
		}
		&:first-child {
			border-left: 0px;
		}
	}
	table {
		width: 100%;
	}
	thead {
		tr {
			&:first-child {
				th,
				td {
					border-top: 0px;
				}
			}
		}
	}
	tbody {
		&:last-child {
			tr {
				&:last-child {
					th,
					td {
						border-bottom: 0px;
					}
				}
			}
		}
		&:first-child {
			tr {
				&:first-child {
					th,
					td {
						border-top: 0px;
					}
				}
			}
		}
	}
	tfoot {
		tr {
			&:last-child {
				th,
				td {
					border-bottom: 0px;
				}
			}
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
}

._tb_bg {
}
._tb_bd {
	border-width: 1px;
}
._tb_bdt {
	border-top-width: 1px;
}
._tb_bdl {
	border-left-width: 1px;
}
._tb_bdr {
	border-right-width: 1px;
}
._tb_bdb {
	border-bottom-width: 1px;
}
._tb_fix {
	table-layout: fixed;
}
._tb_wide {
	width: 100%;
}