.lPage {
	p {
		widows: 4;
		orphans: 3;
		margin: 1.25rem 0rem !important;
		line-height: $base-lh !important;

		&._big {
			font-size: 24px;

			a {
				border-width: 2px;
			}

			&:after,
			&:before {
				content: '';
				display: table;
			}
			&:after {
				margin-top: -1px;
			}
			&:before {
				margin-bottom: -2px;
			}
		}

		&:empty {
			display: none;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
		&:first-child {
			margin-top: 0 !important;
		}

		@if $debug == 1 {
			background-color: #dbe79e;
		}
	}
	b {
		font-weight: 500;
	}
	strong {
		font-weight: 700;
	}
}