.sDiff {
	z-index: 10;
	height: 360px;
	margin: 0px auto;
	max-width: 2560px;
	position: relative;

	@mixin screen_to, $w-mbl-point {
		height: 200px;
	}

	&_wrap {
		top: 0px;
		left: 0px;
		z-index: 5;
		width: 100%;
		height: 100%;
		position: absolute;

		&_box {
			height: 100%;
			display: flex;
			flex-flow: wrap;
			max-width: 878px;
			margin: 0px auto;
			padding: 0px 15px;
			position: relative;
			align-content: center;
			justify-content: space-between;
		}
	}
	&_info {
		align-self: center;
		transition: all .3s $es;
		text-transform: uppercase;

		&_lbl {
			font: 25px/1 $f1;
			margin-top: 12px;
			padding: 22px 20px;
			vertical-align: top;
			display: inline-block;
			border: 2px solid currentColor;

			@mixin screen_to, $w-mbl-point {
				font-size: 12px;
				padding: 8px 5px 7px;
			}
		}
		&_name {
			display: block;
			font: 500 42px/46px $f1;

			@mixin screen_to, $w-mbl-point {
				font: 500 16px/20px $f1;
			}
		}

		&-after {
			opacity: 0;
			color: #fff;
		}
		&-before {
			color: var(--c6);
		}
	}
	&_item {
		height: 100%;
		background: no-repeat;
	}

	&-hero {
		margin: 34px auto;

		^&_drag {
			left: 70%;

			@mixin screen_to, $w-mbl-point {
				left: 50%;
			}

			&:after {
				top: 50%;
				right: 50%;
				color: #fff;
				display: block;
				font: 12px/1 $f1;
				position: absolute;
				white-space: nowrap;
				content: attr(data-txt);
				transition: all .3s $es;
				margin: 59px 10px 0px 0px;

				@mixin screen_to, $w-mbl-point {
					content: normal;
				}
			}
		}
		^&_show {
			width: 70%;

			@mixin screen_to, $w-mbl-point {
				width: 50%;
			}
		}
	}
	&-unit {
		margin: 30px auto;

		@mixin screen_to, $w-mbl-point {
			margin: 30px -15px;
		}

		&:after,
		&:before {
			top: 0px;
			z-index: 30;
			color: #fff;
			display: block;
			font: 18px/1 $f1;
			position: absolute;
			background: var(--c6);
			padding: 13px 10px 12px;

			@mixin screen_to, $w-mbl-point {
				padding: 10px;
				font-size: 10px;
			}
		}
		&:after {
			right: 0px;
			content: attr(data-two);
		}
		&:before {
			left: 0px;
			content: attr(data-one);
		}

		^&_item {
			background-size: cover;
		}
	}
	&._after {
		^&_info {
			&-after {
				opacity: 1;
			}
			&-before {
				opacity: 0;
			}
		}
	}
	&._active {
		^&_drag {
			&:after {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
}