.sRink {
	width: 650px;
	font: 0/0 serif;
	position: relative;

	@mixin screen_to, 1280px {
		width: auto;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	/*#region [scheme][:]*/
	&_show {
		border: 5px solid #fff;
		box-shadow: 0px 0px 12px 3px rgba(#5acbdc, .5);
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_num {
		top: -20px;
		right: 20px;
		z-index: 10;
		width: 88px;
		height: 88px;
		color: #fff;
		padding-top: 23px;
		position: absolute;
		text-align: center;
		font: 500 26px/1 $f1;
		transform: translateZ(0);

		@mixin screen_to, $w-mbl-point {
			width: 68px;
			height: 68px;
			right: -10px;
			font-size: 20px;
			padding-top: 16px;
		}

		&:after,
		&:before {
			display: block;
			position: absolute;
		}
		&:after {
			top: 8px;
			left: 8px;
			right: 8px;
			bottom: 8px;
			font: 12px/1 $f1;
			content: 'место';
			padding-top: 43px;
			border-radius: 50%;
			border: 1px solid #fff;
			text-transform: uppercase;

			@mixin screen_to, $w-mbl-point {
				top: 7px;
				left: 6px;
				right: 6px;
				bottom: 5px;
				font-size: 10px;
				padding-top: 32px;
			}
		}
		&:before {
			top: 1px;
			left: 0px;
			z-index: -1;
			color: var(--c4);
			font: 88px/1 $ico;
			content: $ico-mark;
			text-shadow:
				0px 0px 20px #fff,
				0px 0px 20px #fff;

			@mixin screen_to, $w-mbl-point {
				font-size: 68px;
			}
		}
	}
	&_nav {
		z-index: 10;
		float: right;
		overflow: hidden;
		position: relative;
		border-radius: 46px;
		margin: -30px -10px 0px 0px;
		box-shadow: 0px 0px 10px 5px rgba(#fff, .5);
	}
	&_item {
		background-size: cover;
		background-repeat: no-repeat;

		&:after {
			content: '';
			display: block;
			padding-bottom: calc(100% / (640 / 356));
		}
	}
	&_dots {
		margin: 20px 0px -5px;
	}
	&_prev,
	&_next {
		height: 46px;
		color: var(--c5);
		position: relative;
		font: 36px/46px $f1;
		vertical-align: top;
		display: inline-block;
		background: var(--c1);
		transition: color .3s $es;

		&:after {
			top: 50%;
			left: 50%;
			content: '';
			width: 12px;
			height: 12px;
			margin-top: -6px;
			position: absolute;
			border-style: solid;
			transition: all .3s $es;
			transform: rotate(45deg);
			border-color: currentColor;
		}

		&:hover {
			color: var(--c7);
		}
	}
	&_prev {
		width: 50px;

		&:after {
			border-width: 0px 0px 3px 3px;
		}

		&:hover {
			&:after {
				transform: translateX(-6px) rotate(45deg);
			}
		}
	}
	&_next {
		width: 51px;
		border-left: 1px solid var(--c3);

		&:after {
			margin-left: -12px;
			border-width: 3px 3px 0px 0px;
		}

		&:hover {
			&:after {
				transform: translateX(6px) rotate(45deg);
			}
		}
	}
	/*#endregion [object][;]*/

}