:root {

	/*#region [base][:]*/
	--c0: #a0edf5;
	--c1: #bbd9fd;
	--c2: #c3d5f0;
	--c3: #798ec1;
	--c4: #5a74b3;
	--c5: #3151a0;
	--c6: #00136f;
	--c7: #3d72f6;

	--color-text: #666;
	--color-body: #dbf3ff;

	--color-link: var(--c5);
	--color-hover: var(--c7);

	--input-error: #ef4f91;
	--input-valid: #63c8da;
	--input-focus: #3151a0;

	--input-text: #000;
	--input-fill: #fff;
	--input-label: #798ec1;
	--input-border: #c3d5f0;

	--input-disabled-text: #999;
	--input-disabled-border: #d8d8d8;

	--selection-text: #fff;
	--selection-fill: #3151a0;
	/*#endregion [base][;]*/

	/*#region [brands][:]*/
	--vk: #5181b8; /*[ VKontakte     ]*/
	--ok: #f99400; /*[ Odnoklassniki ]*/
	--fb: #1877f2; /*[ Facebook      ]*/
	--tw: #1da1f2; /*[ Twitter       ]*/
	--ig: #e4405f; /*[ Instagram     ]*/
	--in: #0077b5; /*[ LinkedIn      ]*/
	--tg: #2ca5e0; /*[ Telegram      ]*/
	--yt: #ff0000; /*[ YouTube       ]*/
	--gp: #dc4e41; /*[ Google+       ]*/
	--xg: #006567; /*[ Xing          ]*/
	--pr: #bd081c; /*[ Pinterest     ]*/
	/*#endregion [brands][;]*/

	--grdnt: linear-gradient(180deg, #3151a0 50%, #00136f 100%);
}