$f1: 'NiveaCY', sans-serif;

$ico: 'Ico';

@mixin import_font, Ico, ico, short {
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
};

@mixin import_font, NiveaCY, ncvbk, short, niveabookcyregular {
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
};
@mixin import_font, NiveaCY, ncvbo, short, niveaboldcyregular {
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
};
@mixin import_font, NiveaCY, ncvme, short, niveamediumcyregular {
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
};