$ico-path: '\e800';
$ico-snow: '\e801';
$ico-stars: '\e802';
$ico-vk: '\e803';
$ico-ok: '\e804';
$ico-fb: '\e805';
$ico-win: '\e806';
$ico-state-pending: '\e807';
$ico-file: '\e808';
$ico-poster: '\e809';
$ico-pin: '\e80a';
$ico-mail: '\e80b';
$ico-talk: '\e80c';
$ico-more: '\e80d';
$ico-flake: '\e80e';
$ico-star-1: '\e80f';
$ico-star-2: '\e810';
$ico-star-3: '\e811';
$ico-star-4: '\e812';
$ico-star-5: '\e813';
$ico-arw-t1: '\e814';
$ico-arw-b1: '\e815';
$ico-yes: '\e816';
$ico-not: '\e817';
$ico-user: '\e818';
$ico-mark: '\e819';
$ico-state-ok: '\e81b';
$ico-state-error: '\e81c';
$ico-like: '\e81e';
$ico-share: '\e81f';
$ico-comment: '\e820';