
/**
 * [n]x --> multiply
 * [n]i --> increment
 * [n]d --> decrement


 * mnw --> min-width
 * mxw --> max-width

 * mrgn --> margin
 * pdng --> padding
**/










$debug: 0;
$first-title-fix: 0;

$font_format: 'short';




/*#region [size][:]*/
$w-dsk: 1280px;

$w-mbl: 768px;
$w-mbl-point: 1000px;

$w-wide: 1920px;
$w-wide-point: 1440px;
/*#endregion [size][;]*/

/*#region [ease][:]*/
$es: ease-in-out-sine;
$es-in: ease-in-sine;
$es-out: ease-out-sine;
/*#endregion [ease][;]*/

:root {

	/*#region [size][:]*/
	--sz: $w-dsk;
	--sz-mbl: $w-mbl;
	--sz-wide: $w-wide;
	--sz-wide-gap: calc(var(--sz-wide) + (var(--gap-wide) * 2 - var(--gap2x)));




	/*#endregion [size][;]*/













	--mn: 80px;
	--mn-mbl: 60px;

	/*#region [gap][:]*/
	--gap: 20px;
	--gap-wide: 100px;

	--gap-wide2x: calc(var(--gap-wide) * 2);

	--gap-wide1d: calc(var(--gap-wide) - var(--gap));
	--gap-wide05d: calc(var(--gap-wide) - var(--gap05x));



	--gap05x: calc(var(--gap) * .5);
	--gap2x: calc(var(--gap) * 2);
	--gap3x: calc(var(--gap) * 3);
	--gap4x: calc(var(--gap) * 4);

	--gap-neg: calc(var(--gap) * -1);

	--gap-1o12: calc(var(--gap) - var(--gap) * 1/12 + .00001px);
	--gap-2o12: calc(var(--gap) - var(--gap) * 2/12);
	--gap-3o12: calc(var(--gap) - var(--gap) * 3/12);
	--gap-4o12: calc(var(--gap) - var(--gap) * 4/12 + .00001px);
	--gap-5o12: calc(var(--gap) - var(--gap) * 5/12);
	--gap-6o12: calc(var(--gap) - var(--gap) * 6/12);
	--gap-7o12: calc(var(--gap) - var(--gap) * 7/12 + .00001px);
	--gap-8o12: calc(var(--gap) - var(--gap) * 8/12);
	--gap-9o12: calc(var(--gap) - var(--gap) * 9/12);
	--gap-10o12: calc(var(--gap) - var(--gap) * 10/12 + .00001px);
	--gap-11o12: calc(var(--gap) - var(--gap) * 11/12);
	/*#endregion [gap][;]*/

	/*#region [grid][:]*/
	--s1o6: 16.6667%;
	--s1o5: 20%;
	--s1o4: 25%;
	--s1o3: 33.3334%;
	--s1o2: 50%;
	--s2o3: 66.6667%;
	--s3o4: 75%;

	--s1o12: 8.3334%;
	--s2o12: 16.6667%;
	--s3o12: 25%;
	--s4o12: 33.3334%;
	--s5o12: 41.6667%;
	--s6o12: 50%;
	--s7o12: 58.3334%;
	--s8o12: 66.6667%;
	--s9o12: 75%;
	--s10o12: 83.3334%;
	--s11o12: 91.6667%;

	--c1o12: calc(var(--s1o12) - var(--gap-1o12));
	--c2o12: calc(var(--s2o12) - var(--gap-2o12));
	--c3o12: calc(var(--s3o12) - var(--gap-3o12));
	--c4o12: calc(var(--s4o12) - var(--gap-4o12));
	--c5o12: calc(var(--s5o12) - var(--gap-5o12));
	--c6o12: calc(var(--s6o12) - var(--gap-6o12));
	--c7o12: calc(var(--s7o12) - var(--gap-7o12));
	--c8o12: calc(var(--s8o12) - var(--gap-8o12));
	--c9o12: calc(var(--s9o12) - var(--gap-9o12));
	--c10o12: calc(var(--s10o12) - var(--gap-10o12));
	--c11o12: calc(var(--s11o12) - var(--gap-11o12));

	--c1o12-gap: calc(var(--c1o12) + var(--gap));
	--c2o12-gap: calc(var(--c2o12) + var(--gap));
	--c3o12-gap: calc(var(--c3o12) + var(--gap));
	--c4o12-gap: calc(var(--c4o12) + var(--gap));
	--c5o12-gap: calc(var(--c5o12) + var(--gap));
	--c6o12-gap: calc(var(--c6o12) + var(--gap));
	--c7o12-gap: calc(var(--c7o12) + var(--gap));
	--c8o12-gap: calc(var(--c8o12) + var(--gap));
	--c9o12-gap: calc(var(--c9o12) + var(--gap));
	--c10o12-gap: calc(var(--c10o12) + var(--gap));
	--c11o12-gap: calc(var(--c11o12) + var(--gap));
	/*#endregion [grid][;]*/

}