/*#region [base][:]*/
$base-sz: 16px;
$base-lh: 1.25;
$base-fn: $f1;

$base-font: $base-sz/$base-lh $base-fn;
/*#endregion [base][;]*/

/*#region [text][:]*/
$p-cl: 3px;
$p-bl: 5px;
$p-mn: 26px;

$li-cl: $p-cl;
$li-bl: $p-bl;
$li-mn: 10px;
/*#endregion [text][;]*/

/*#region [heading][:]*/
$h1-sz: 30px;
$h2-sz: 30px;
$h3-sz: 26px;
$h4-sz: 20px;
$h5-sz: 18px;
$h6-sz: 16px;
/*#endregion [heading][;]*/