.checks {
	width: 100%;
	display: table;
	font-size: 12px;
	margin-top: 28px;
	color: var(--c5);
	table-layout: fixed;
	text-transform: uppercase;

	@mixin screen_to, 768px {
		table-layout: auto;
	}

	&__tr {
		display: table-row;

		&:nth-child(4n-1) {
			^^&__img {
				background-position-y: 35%;
			}
		}
		&:nth-child(4n-2) {
			^^&__img {
				background-position-y: 100%;
			}
		}
	}
	&__td {
		display: table-cell;
		vertical-align: middle;
		padding: 7px 0px 7px 15px;
		border-top: 1px solid #e5e7f0;

		@mixin screen_to, 400px {
			padding-left: 10px;
		}

		&_th {
			border: none;
			padding-top: 0px;
			font-weight: 700;
			vertical-align: top;
		}

		&:first-child {
			padding-left: 0px;
		}
	}
	&__img {
		width: 24px;
		height: 24px;
		cursor: pointer;
		border-radius: 50%;
		transition: all .3s $es;
		box-shadow: inset 0px 0px 0px 20px rgba(#00136f, .2);
		background: #ccc url('/assets/img/design/check.jpg') 50% 0% no-repeat;

		&:hover {
			box-shadow:
				inset 0px 0px 0px 20px rgba(#00136f, .2),
				0px 0px 10px 5px #a0e1eb;
		}
	}
	&__state {
		line-height: 1.25;
		position: relative;
		padding-left: 28px;
		align-items: center;
		display: inline-flex;

		&:before {
			font-size: 18px;
			font-family: $ico;
			display: inline-block;
			vertical-align: middle;
			margin: -1px 10px 0px -28px;
		}
		&_ok {
			&:before {
				content: $ico-state-ok;
			}
		}
		&_error {
			&:before {
				content: $ico-state-error;
			}
		}
		&_pending {
			&:before {
				content: $ico-state-pending;
			}
		}

		&[data-tooltip-content] {
			cursor: help;
		}
	}
}