.empty {
	display: block;
	max-width: 508px;
	margin: 80px auto;
	padding: 0px 15px;
	text-align: center;

	@mixin screen_to, $w-mbl-point {
		margin: 60px auto;
	}

	&__label {
		color: var(--c6);
		position: relative;
		display: inline-block;
		padding: 75px 0px 82px;
		font: 700 16px/1.25 $f1;
		transform: translateZ(0);
		text-transform: uppercase;

		&:after,
		&:before {
			z-index: -1;
			content: '';
			position: absolute;
			pointer-events: none;
			background: 50% 50% no-repeat;
			background-size: contain;
		}
		&:after {
			bottom: 0px;
			right: -65px;
			width: 163px;
			height: 131px;
			background-image: url('/assets/img/design/decore/empty-right-163x131.png');

			@mixin screen_to, 500px {
				right: -25px;
				bottom: -10px;
			}
			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/empty-right-163x131@2x.png');
			}
		}
		&:before {
			top: 0px;
			left: -65px;
			width: 190px;
			height: 183px;
			background-image: url('/assets/img/design/decore/empty-left-190x183.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/empty-left-190x183@2x.png');
			}
		}
	}
}