.flyer {
	display: flex;
	flex-flow: wrap;
	font-size: 847px;
	margin: 0px auto;
	padding: 0px 15px;
	max-width: 1202px;
	user-select: none;
	text-align: center;
	text-transform: uppercase;
	transform: perspective(1px);
	justify-content: space-between;

	@media print {
		padding: 0px;
		display: block;
		max-width: none;
	}
	@mixin screen_to, $w-mbl-point {
		margin-top: 34px;
	}

	/*#region [scheme][:]*/
	&_head {
		width: 100%;
		margin-bottom: 36px;

		@media print {
			display: none;
		}

		&_title {
			margin: 0px;
		}
		&_subtitle {
			margin: 19px 0px 0px;
		}
	}
	&_body {
		width: 847px;

		@media print {
			width: auto;
		}
	}
	&_side {
		top: 36px;
		left: 76px;
		color: #fff;
		position: absolute;
		top: calc(100% / (847 / 195));
		left: calc(100% / (847 / 71));
		width: calc(100% / (847 / 160));
	}
	&_view {
		margin: 0px auto;
		position: relative;

		@media print {
			width: auto;
		}

		&:after {
			content: '';
			z-index: -1;
			display: block;
			position: relative;
			padding-bottom: calc(100% / (297 / 210));
			padding-bottom: calc(100% / (847 / 599));
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_logo {
		margin: 0px;
		margin: 0px auto;
		user-select: none;
		position: absolute;
		pointer-events: none;
		top: calc(100% / (847 / 51));
		left: calc(100% / (847 / 101));
		width: calc(100% / (847 / 102));
	}
	&_rink {
		text-align: left;
		position: absolute;
		top: calc(100% / (847 / 266));
		left: calc(100% / (847 / 542));

		&_city {
			display: block;
			color: var(--c5);
			font: 700 20px/24px $f1;
		}
		&_adds {
			display: block;
			font: 14px/18px $f1;
		}
	}
	&_menu {
		width: 196px;
		padding-top: 6px;

		@media print {
			display: none;
		}

		&_lbl {
			display: block;
			color: var(--c5);
			font: 13px/1 $f1;
			margin-bottom: 28px;
		}
		&_lnk {
			display: block;
			cursor: pointer;
			transition: all .3s $es;
			background-size: contain;
			background-repeat: no-repeat;
			box-shadow:
				inset 0px 0px 0px 4px #fff,
				0px 0px 12px 3px rgba(#5acbdc, .5);

			&:after {
				content: '';
				display: block;
				padding-bottom: calc(100% / (295 / 209));
			}

			&._1 {
				background-image: url('/assets/img/image/flyer/thumb/1.jpg');

				@media
				(-webkit-min-device-pixel-ratio: 1.25),
				(min-resolution: 120dpi) {
					background-image: url('/assets/img/image/flyer/thumb/1@2.jpg');
				}
			}
			&._2 {
				background-image: url('/assets/img/image/flyer/thumb/2.jpg');

				@media
				(-webkit-min-device-pixel-ratio: 1.25),
				(min-resolution: 120dpi) {
					background-image: url('/assets/img/image/flyer/thumb/2@2.jpg');
				}
			}
			&._3 {
				background-image: url('/assets/img/image/flyer/thumb/3.jpg');

				@media
				(-webkit-min-device-pixel-ratio: 1.25),
				(min-resolution: 120dpi) {
					background-image: url('/assets/img/image/flyer/thumb/3@2.jpg');
				}
			}
			& + & {
				margin-top: 20px;
			}
			&:hover {
				box-shadow:
					inset 0px 0px 0px 4px #fff,
					0px 0px 12px 3px rgba(#5acbdc, .8);
			}
			&._active {
				cursor: default;
				border-color: transparent;
				box-shadow:
					inset 0px 0px 0px #fff,
					0px 0px 0px 0 rgba(#5acbdc, .8);
			}
		}
	}
	&_foot {
		left: 0px;
		right: 0px;
		bottom: 35px;
		position: absolute;
		text-align: center;
		font: 10px/14px $f1;
		white-space: nowrap;

		a {
			font-weight: 700;
		}
		span {
			vertical-align: top;
			display: inline-block;
		}

		&_time {
			color: var(--c6);
		}
		&_info {
			color: var(--c5);
			margin-left: 28px;
		}
	}
	&_site {
		display: block;
		margin-top: 23px;
		font: 16px/18px $f1;

		a {
			color: #fff;
			display: block;
			font-weight: 700;
		}
	}
	&_photo {
		user-select: none;
		position: absolute;
		pointer-events: none;
		border: 4px solid #fff;
		top: calc(100% / (847 / 239));
		left: calc(100% / (847 / 305));
		width: calc(100% / (847 / 217));
		height: calc(100% / (847 / 173));
		box-shadow: 0px 0px 12px 3px rgba(#5acbdc, .5);

		&:after,
		&:before {
			z-index: 1;
			color: #fff;
			font: 0/1 $ico;
			display: block;
			position: absolute;
			text-shadow:
				0px 0px 6px #fff,
				0px 0px 6px #fff;
		}
		&:after {
			top: 106px;
			left: 162px;
			font-size: 24px;
			content: $ico-star-5;
		}
		&:before {
			top: -14px;
			left: 36px;
			font-size: 19px;
			content: $ico-star-1;
		}

		&_src {
			width: 100%;
			height: 100%;
			max-width: none;
			max-height: 100%;
			object-fit: cover;
		}
	}
	&_tease {
		display: block;
		margin-top: 27px;
		font: 30px/1 $f1 !important;
	}
	&_title {
		color: var(--c6);
		text-align: left;
		position: absolute;
		font: 30px/1 $f1 !important;
		top: calc(100% / (847 / 74));
		left: calc(100% / (847 / 304));
	}
	&_scene {
		top: 0px;
		left: 0px;
		opacity: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		visibility: hidden;
		pointer-events: none;
		transition: all .6s $es;

		&._active {
			opacity: 1;
			visibility: visible;
		}
	}
	&_print {
		margin-top: 20px;

		@media print {
			display: none;
		}
	}
	/*#endregion [object][;]*/

}