.media {
	display: flex;
	flex-wrap: wrap;
	margin: 80px auto;
	padding: 0px 20px;
	position: relative;
	justify-content: space-between;
	max-width: calc(var(--sz) + 40px);

	@mixin screen_to, $w-mbl-point {
		display: block;
		overflow: hidden;
		margin: 60px auto;
		padding: 0px 15px;
		max-width: var(--sz-mbl);
	}

	&__view {
		display: flex;
		justify-content: flex-end;

		@mixin screen_to, $w-mbl-point {
			width: auto;
			justify-content: center;
		}
	}
	&__info {
		color: var(--c6);
		width: var(--c4o12);
		margin-right: var(--c1o12);
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			width: auto;
			margin: 0px;
		}

		ul {
			margin: 0px !important;
			padding: 0px !important;
			list-style: none !important;
		}
		li {
			padding: 0px;
			position: relative;
			margin: 1rem 0px 0px 0px;

			&:before {
				top: 6px;
				right: 100%;
				width: 6px;
				height: 6px;
				content: '';
				display: block;
				position: absolute;
				border-radius: 50%;
				margin-right: 20px;
				background: currentColor;
			}
		}
		img {
			margin: 0px auto;
		}
	}
	&__title {
		width: 100%;
		text-align: center;
		margin-bottom: 34px;
	}

	&_qr {
		^&__view {
			margin-left: -36px;
			width: calc(var(--c7o12) + 36px);

			@mixin screen_to, $w-mbl-point {
				width: auto;
				margin: 0px -10% -80px -20%;
			}
		}
		^&__info {
			font-size: 18px;
			padding-top: 68px;

			@mixin screen_to, $w-mbl-point {
				font-size: 16px;
				text-align: center;
			}
		}
	}
	&_check {
		max-width: 888px;

		^&__view {
			width: calc((100% * 3/8) - (var(--gap) - var(--gap) * 3/8));

			@mixin screen_to, $w-mbl-point {
				width: 80%;
				margin: 0px auto;
			}
		}
		^&__info {
			margin-right: 0px;
			width: calc((100% * 4/8) - (var(--gap) - var(--gap) * 4/8));

			@mixin screen_to, $w-mbl-point {
				width: auto;
				margin-top: 2rem;
			}

			h5 {
				@mixin screen_to, $w-mbl-point {
					text-align: left;
				}
			}
		}
	}

	&:first-child {
		margin-top: 0px;
	}
}