
.nx-cp-proxyframe {
	margin-left: -50vw;
	transform: none !important;
}
.nx-cp-proxyframe:not(:empty) {
	margin-bottom: 0px !important;
}







.lPage {
	padding: 0px !important;

	a {
		text-decoration: none !important;
	}
}
.lHeader {
	background: none;
}
.fRinks {
	&_city {
		&_input {
			width: 295px !important;
			padding: 0 15px !important;

			@mixin screen_to, $w-mbl-point {
				width: 220px !important;
			}
		}
	}
}

/*
main {
	position: static !important;
}

.login-area {
	a {
		border-bottom: inherit;
	}
	li {
		&:before {
			content: normal;
		}
	}
}
*/

/*
.nx-zone {
	padding: 0px;

	h3 {
		font: $h3-font;
		display: block;
		margin: $_h3-mt 0px $_h3-mb;
	}

	.nx-inner {
		max-width: none;

		h2 {
			width: auto;
			padding: 0px;
			font: $h2-font;
			margin: $_h2-mt 0px $_h2-mb;

			&:first-child {
				margin-top: 0px;
			}
		}
	}
}
*/

/*
.nx-social-box {
	a {
		border: none;
	}
}
.nx-footer-nav,
.nx-footer-links,
.nx-header-inner {
	a {
		border: none;
	}
	li {
		&:before {
			content: normal;
		}
	}
}
.nx-footer-nav {
	ul {
		margin: 1em 0em;
	}
}
.nx-copyright {
	img {
		display: initial;
	}
}
.nx-footer-links {
	li {
		margin-top: initial;
	}
}
.nx-navigations {
	ul {
		padding-left: 0px;
	}
}
.nx-cp-proxyframe {
	margin: 0px !important;
	padding: 0px !important;
}


.nx-benefits {
	display: none !important;

	h3 {
		font-family: 'NiveaBook', Arial, sans-serif
	}
	.nx-icon {
		box-sizing: content-box;
	}
}

.nx-navigations {
	.salutation {
		position: static;
	}
}
*/
.nx-footer,
.nx-u-section,
.nx-cookie-policy-popup,
.nx-nav-desktop__wrapper,
.nx-user-actions-container,
.nx-stage,
.nx-breadcrumb-wrapper,
.nx-user-actions-container,
.nx-footer-nav,
.nx-footer-links,
.nx-social-and-newsletter {
	@media print {
		display: none !important;
	}
}
.nx-user-actions-container+.nx-content-area .nx-cp-proxyframe {
	margin-top: 0px !important;

	@media print {
		margin-bottom: 0px !important;
	}
}