.revise {
	font: 0/0 serif;
	margin: 60px auto;
	padding: 0px 20px;
	text-align: center;
	position: relative;
	max-width: var(--sz);
	transform: translateZ(0);

	@mixin screen_to, 1280px {
		padding: 0px 15px;
	}

	&:after,
	&:before {
		left: 50%;
		z-index: -1;
		content: '';
		display: block;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;

		@mixin screen_to, 1280px {
			content: normal;
		}
	}
	&:after {
		width: 92px;
		bottom: -2px;
		height: 157px;
		margin-left: 242px;
		background-image: url('/assets/img/design/decore/heroes/9-92x157.png');

		@media
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 120dpi) {
			background-image: url('/assets/img/design/decore/heroes/9-92x157@2.png');
		}
	}
	&:before {
		width: 57px;
		height: 130px;
		bottom: -78px;
		margin-left: -301px;
		background-image: url('/assets/img/design/decore/heroes/8-57x130.png');

		@media
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 120dpi) {
			background-image: url('/assets/img/design/decore/heroes/8-57x130@2.png');
		}
	}

	/*#region [scheme][:]*/
	&_body {
		display: flex;
		flex-flow: wrap;

		@mixin screen_to, 1280px {
			align-items: flex-start;
			justify-content: center;
		}
		@mixin screen_to, $w-mbl-point {
			display: block;
			margin: 0px -15px;
		}
	}
	&_show {
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, 1280px {
			margin: 0px 10px;
			max-width: 300px;
		}
		@mixin screen_to, $w-mbl-point {
			display: block;
			margin: 0px auto;
			padding: 0px 15px;
		}

		& + & {
			margin-left: var(--gap);

			@mixin screen_to, 1280px {
				margin: 40px 0px 0px;
			}
			@mixin screen_to, $w-mbl-point {
				margin: 40px auto 0px;
			}
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_lnk {
		margin-top: 40px;
	}
	&_item {
		width: 295px;
		border-radius: 50%;

		&:after {
			top:190px;
			left: 0px;
			width: 60px;
			height: 60px;
			color: #fff;
			display: block;
			position: absolute;
			border-radius: 50%;
			font: 20px/60px $ico;
		}

		&_box {
			overflow: hidden;
			position: relative;
			border-radius: 50%;
			padding-bottom: 100%;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&_info {
			left: 0px;
			right: 0px;
			bottom: 0px;
			height: 84px;
			color: #fff;
			display: flex;
			flex-flow: column;
			position: absolute;
			background: var(--c6);
			padding: 8px 20px 20px;
			justify-content: center;
		}
		&_name {
			display: block;
			font: 14px/18px $f1;
			text-transform: uppercase;
		}

		&._ok {
			font-size: 23px;

			&:after {
				content: $ico-yes;
				background: var(--input-valid);
			}
		}
		&._no {
			&:after {
				content: $ico-not;
				background: var(--input-error);
			}
		}
		&:nth-child(2) {
			margin: 80px 0px 0px var(--gap);

			@mixin screen_to, 1280px {
				margin: 0px;
			}
		}
	}
	&_dots {
		margin: 15px 0px -5px;
	}
	&_title {
		@mixin screen_to, 1280px {
			padding: 0px 15px;
		}
	}
	/*#endregion [object][;]*/

	&:last-child {
		margin-bottom: 0px;
	}
}