.rink {
	z-index: 10;
	padding: 0px 20px;
	position: relative;
	max-width: var(--sz);
	margin: 30px auto 0px;

	@mixin screen_to, 1280px {
		padding: 0px 15px;
		text-align: center;
		max-width: var(--sz-mbl);
	}

	/*#region [scheme][:]*/
	&_body {
		display: flex;
		text-align: left;
		justify-content: space-between;

		@mixin screen_to, 1280px {
			display: block;
			margin-top: 16px;
		}
	}
	&_base {
		flex-grow: 1;
		max-width: 522px;

		@mixin screen_to, 1280px {
			max-width: none;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_more {
		color: var(--c5);
		font: 16px/20px $f1;
		margin-bottom: 15px;
		vertical-align: top;
		display: inline-block;
		text-transform: uppercase;

		&:before {
			content: $ico-more;
			vertical-align: top;
			font: 24px/20px $ico;
			display: inline-block;
			margin: -1px 15px 0px 0px;
		}
	}
	&_head {
		@mixin screen_to, 1280px {
			text-align: center;
			margin-bottom: 40px;
		}

		&_city {
			margin: 0px;
			font-weight: 700;
		}
		&_adds {
			flex-grow: 1;
			display: block;
			align-self: center;
			padding-right: var(--gap);

			@mixin screen_to, 1280px {
				padding: 0px;
				margin-bottom: 15px;
			}
		}
		&_foot {
			display: flex;
			flex-flow: wrap;
			margin-top: 23px;

			@mixin screen_to, 1280px {
				display: block;
				margin-top: 9px;
			}
		}
	}
	&_info {
		margin-top: 33px;

		&_author {
			display: block;
			color: var(--c3);
			margin-bottom: 11px;
			text-transform: uppercase;

			strong {
				font-weight: 500;
			}
		}
		& :first-child {
			margin-top: 0px;
		}
	}
	&_lnks {
		padding: 0px;
		margin: 25px 0px 0px !important;

		ul,
		li {
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		li {
			&:before {
				content: normal;
			}

			& + li {
				margin-top: 10px;
			}
		}

		&_itm {
			color: var(--c5);
			vertical-align: top;
			display: inline-block;
			font: 500 14px/24px $f1;

			&:before {
				font: 24px/1 $ico;
				content: $ico-talk;
				margin-right: 10px;
				vertical-align: top;
				display: inline-block;
			}
		}
	}
	&_flyer {
		color: var(--c3);
		margin-top: 30px;
		font: 14px/18px $f1;
		text-transform: uppercase;

		@mixin screen_to, $w-mbl-point {
			display: none;
		}

		&_lbl {
			display: block;
			margin-bottom: 16px;
		}
	}
	/*#endregion [object][;]*/

}