.rink-info {
	display: flex;
	font-size: 14px;
	color: var(--c5);
	text-transform: uppercase;
	justify-content: space-between;

	@mixin screen_to, 768px {
		display: block;
	}

	&__img {
		max-width: 340px;
		border: 2px solid #dbf5ff;

		@mixin screen_to, 768px {
			max-width: 100%;
		}
	}
	&__body {
		width: 50%;
		margin-left: 20px;

		@mixin screen_to, 768px {
			width: auto;
			margin: 15px 0px 0px;
		}
	}
	&__text {
		display: block;
		margin-top: 10px;
		position: relative;

		&:after,
		&:before {
			content: '\2033';
		}
		&:before {
			top: 0px;
			right: 100%;
			margin-right: 4px;
			position: absolute;
		}

		p {
			display: inline;
		}
	}
	&__author {
		font-weight: 700;
	}
}