.rinks {
	font: 0/0 serif;
	margin: 80px auto;
	padding: 0px 20px;
	position: relative;
	text-align: center;
	max-width: calc(var(--sz) + 40px);

	@mixin screen_to, $w-mbl-point {
		margin: 60px auto;
		padding: 0px 15px;
		max-width: var(--sz-mbl);
	}

	&_body {
		text-align: left;
	}
	&_item {
		color: var(--c5);
		margin-top: 60px;
		text-align: center;
		width: var(--c4o12);
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $w-mbl-point {
			width: auto;
			display: block;
		}

		&_lnk {
			top: 0px;
			left: 0px;
			z-index: 10;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;

			@mixin screen_to, $w-mbl-point {
				display: none;
			}
		}
		&_win {
			right: 56px;
			bottom: -12px;
			display: block;
			font: 140px/1 $ico;
			position: absolute;
			transform: translateZ(0);

			@mixin screen_to, $w-mbl-point {
				top: -28px;
				right: -18px;
				bottom: auto;
				font-size: 72px;
			}

			&:after {
				color: #fff;
				display: block;
				color: var(--c4);
				content: $ico-win;
				text-shadow:
					0px 0px 25px #fff,
					0px 0px 25px #fff;
			}
			&:before {
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				z-index: -1;
				content: '';
				position: absolute;
				border-radius: 50%;
				background: #fff;
			}
		}
		&_num {
			top: -28px;
			right: 2px;
			width: 80px;
			margin: 8px;
			z-index: 15;
			height: 80px;
			color: #fff;
			display: block;
			padding-top: 19px;
			position: absolute;
			text-align: center;
			border-radius: 50%;
			font: 500 26px/1 $f1;
			pointer-events: none;
			transform: translateZ(0);

			@mixin screen_to, $w-mbl-point {
				width: 60px;
				height: 60px;
				font-size: 20px;
				padding-top: 14px;
			}
			@mixin screen_to, $w-mbl-point {
				right: -18px;
			}

			&:after,
			&:before {
				display: block;
				position: absolute;
			}
			&:after {
				top: 4px;
				left: 4px;
				right: 4px;
				bottom: 4px;
				font: 12px/1 $f1;
				content: 'место';
				padding-top: 43px;
				border-radius: 50%;
				border: 1px solid #fff;
				text-transform: uppercase;
				box-shadow:
					0px 0px 0px 2px #5a74b3,
					inset 0px 0px 0px 2px #5a74b3;

				@mixin screen_to, $w-mbl-point {
					top: 2px;
					left: 2px;
					right: 2px;
					bottom: 2px;
					font-size: 10px;
					margin-top: 1px;
					padding-top: 31px;
				}
			}
			&:before {
				top: 50%;
				left: 50%;
				z-index: -1;
				color: var(--c4);
				font: 88px/1 $ico;
				content: $ico-mark;
				margin: -43px 0px 0px -44px;
				text-shadow:
					0px 0px 20px #fff,
					0px 0px 20px #fff;

				@mixin screen_to, $w-mbl-point {
					font-size: 68px;
					margin: -33px 0px 0px -34px;
				}
			}
		}
		&_view {
			position: relative;
			background-size: cover;
			transform: translateZ(0);
			border: 4px solid #fff;
			background-repeat: no-repeat;
			box-shadow: 0px 0px 12px 3px rgba(#5acbdc, .5);

			&:after,
			&:before {
				content: '';
				display: block;
			}
			&:after {
				right: 6px;
				z-index: 10;
				width: 230px;
				height: 84px;
				bottom: -30px;
				position: absolute;
				pointer-events: none;
				background: url('/assets/img/design/decore/trees-1-230x84.png') no-repeat;
				background-size: contain;

				@media
				(-webkit-min-device-pixel-ratio: 1.25),
				(min-resolution: 120dpi) {
					background-image: url('/assets/img/design/decore/trees-1-230x84@2x.png') ;
				}
			}
			&:before {
				padding-bottom: calc(100% / (405 / 225));
			}

			&:hover {
				.mVote {
					opacity: 1;
					visibility: visible;
					transition-delay: 0s;
				}
			}
		}
		&_data {
			z-index: 20;
			display: flex;
			margin-top: 16px;
			position: relative;
			color: currentColor;
			transition: color .3s $es;

			&:hover {
				color: var(--color-hover);
			}
		}
		&_info {
			width: 80%;
			flex-grow: 1;
			text-align: left;
			padding: 7px 20px 0px 10px;
			border-right: 1px solid var(--c3);

			@mixin screen_to, $w-mbl-point {
				padding: 7px 10px 0px;
			}
		}
		&_city {
			display: block;
			font: 500 16px/20px $f1;
			text-transform: uppercase;
		}
		&_adds {
			color: #666;
			display: block;
			font: 14px/18px $f1;
		}
		&_score {
			width: 110px;
			display: flex;
			margin-top: -4px;
			flex-flow: column;
			padding-left: 20px;
			font: 500 30px/1 $f1;
			justify-content: center;
			text-transform: uppercase;

			@mixin screen_to, $w-mbl-point {
				padding-left: 10px;
			}

			&:after {
				display: block;
				margin-top: 3px;
				font: 14px/1 $f1;
				content: attr(data-txt);
			}
		}
		&_title {
			display: block;
			margin: 0px !important;
		}
		&_subtitle {
			display: block;
			font-weight: normal;
			margin: 2px 0px 25px;
		}

		& + & {
			margin-left: var(--gap);

			@mixin screen_to, $w-mbl-point {
				margin-left: 0px;
			}
		}
		&:first-child {
			margin-top: 0px;
		}
		&:nth-child(-n+3) {
			@mixin screen_from, $w-mbl-point {
				margin-top: 0px;
			}
		}
		&:nth-child(3n+1) {
			margin-left: 0px;
		}
		&:nth-child(4n+1) {
			^&_view {
				&:after {
					background-image: url('/assets/img/design/decore/trees-2-230x84.png');

					@media
					(-webkit-min-device-pixel-ratio: 1.25),
					(min-resolution: 120dpi) {
						background-image: url('/assets/img/design/decore/trees-2-230x84@2x.png') ;
					}
				}
			}
		}
	}
	&_more {
		margin-top: 49px;
		color: var(--c5);
		vertical-align: top;
		display: inline-block;
		font: 500 16px/24px $f1;
		transition: color .3s $es;
		text-transform: uppercase;

		&:before {
			font: 24px/1 $ico;
			content: $ico-more;
			vertical-align: top;
			display: inline-block;
			margin: 0px 14px 0px 0px;
		}

		&:hover {
			color: var(--color-hover);
		}
	}
	&_empty {
		display: block;
		color: var(--c6);
		text-align: center;
		font: 18px/22px $f1;
		text-transform: uppercase;
	}
	&_title {
		max-width: 720px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin: 0px !important;
		transform: translateZ(0);

		&:after,
		&:before {
			z-index: -1;
			content: '';
			display: block;
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;

			@mixin screen_to, $w-mbl-point {
				content: normal;
			}
		}
		&:after {
			top: -30px;
			left: 100%;
			width: 79px;
			height: 112px;
			margin-left: 25px;
			background-image: url('/assets/img/design/decore/heroes/5-79x112.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/heroes/5-79x112@2.png');
			}
		}
		&:before {
			top: -42px;
			right: 100%;
			width: 123px;
			height: 122px;
			margin-right: 11px;
			background-image: url('/assets/img/design/decore/heroes/4-123x121.png');

			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/heroes/4-123x121@2.png');
			}
		}
	}
	&_subtitle {
		font-weight: normal;
		margin: 2px 0px 25px;
	}

	&-winner {
		^&_body {
			margin-top: 24px;
			background: url('/assets/img/design/decore/winner-1247x311-1.png') 50% 30px no-repeat;
			background-size: 1247px 311px;

			@mixin screen_to, $w-mbl-point {
				background: none;
			}
			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/winner-1247x311-1@2.png');
			}
		}
		^&_item {
			width: auto;
			display: block;
			margin: 0px auto;
			max-width: 630px;

			&_view {
				&:after {
					content: none;
				}
			}

			&:hover {
				color: var(--color-hover);
			}
		}
		^&_title {
			&:after,
			&:before {
				content: none;
			}
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
}