.rules {
	display: flex;
	flex-flow: wrap;
	font: 0/0 serif;
	margin: 60px auto;
	padding: 0px 20px;
	text-align: center;
	max-width: var(--sz);

	@mixin screen_to, $w-mbl-point {
		display: block;
		padding: 0px 15px;
		max-width: var(--sz-mbl);
	}

	&_item {
		display: flex;
		color: #fff;
		text-align: left;
		flex-flow: column;
		position: relative;
		width: var(--c4o12);
		border-radius: 20px;
		justify-content: center;
		padding: 27px 20px 25px 110px;
		background: var(--c6) 10px 50% no-repeat;
		background-size: 80px 80px;

		@mixin screen_to, $w-mbl-point {
			width: auto;
		}

		&_name {
			font: 16px/20px $f1;
			text-transform: uppercase;
		}

		& + & {
			margin-left: var(--gap);

			@mixin screen_to, $w-mbl-point {
				margin: 20px 0px 0px;
			}
		}
		&._img {
			&:after {
				content: '';
				left: 108px;
				width: 201px;
				bottom: 100%;
				height: 122px;
				display: block;
				position: absolute;
				margin-bottom: -30px;
				pointer-events: none;
				background: url('/assets/img/design/decore/heroes/7-201x122.png') no-repeat;
				background-size: contain;

				@media
				(-webkit-min-device-pixel-ratio: 1.25),
				(min-resolution: 120dpi) {
					background-image: url('/assets/img/design/decore/heroes/7-201x122@2.png');
				}
				@mixin screen_to, $w-mbl-point {
					content: normal;
				}
			}
		}
	}
	&_title {
		width: 100%;
	}

	&:last-child {
		margin-bottom: 0px;
	}
}