.step {
	color: #fff;
	display: flex;
	text-align: center;
	border-radius: 20px;
	background: var(--c6);
	flex-direction: column;
	padding: 15px 20px 20px;
	text-transform: uppercase;

	&__name {
		display: block;
		color: var(--c0);
		margin-bottom: 11px;
		letter-spacing: 1px;
		font: 500 24px/1 $f1;
		text-shadow:
			0px 0px 10px rgba(#fff, .8),
			0px 0px 10px rgba(#fff, .6);
	}
	&__text {
		font: 16px/22px $f1;
		margin-bottom: auto;
		padding-bottom: 22px;

		p {
			margin: 0px;
		}
		br {
			@mixin screen_to, $w-mbl-point {
				display: none;
			}
		}
	}
	&__foot {
		display: flex;
		min-height: 60px;
		align-items: center;
		justify-content: center;
	}
	&__vote {
		display: block;
		font: 48px/1 $ico;
		margin-left: 20px;

		&_like {
			&:after {
				content: $ico-like;
			}
		}
		&_share {
			&:after {
				content: $ico-share;
			}
		}
		&_comment {
			&:after {
				content: $ico-comment;
			}
		}

		&:first-child {
			margin-left: 0px;
		}
	}
	&__code {
		width: 30px;
		opacity: .4;
		border-radius: 5px;
		background: #fff url('/assets/img/design/ico/qr-square-blue.svg') 50% 50% no-repeat;

		&:after {
			content: '';
			display: block;
			padding-bottom: 100%;
		}

		&:nth-child(2) {
			opacity: 1;
			width: 50px;
			margin: 0px 6px;
		}
	}
	&__codes {
		&:after,
		&:before {
			opacity: .2;
			content: '';
			width: 14px;
			height: 14px;
			display: block;
			background: #fff;
			border-radius: 2px;
		}
		&:after {
			margin-left: 6px;
		}
		&:before {
			margin-right: 6px;
		}
	}
}

.steps {
	z-index: 10;
	font: 0/0 serif;
	margin: 0px auto;
	padding: 0px 20px;
	position: relative;
	max-width: calc(var(--sz) + 40px);

	@mixin screen_to, $w-mbl-point {
		display: block;
		padding: 0px 15px;
		max-width: var(--sz-mbl);
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -20px -10px 0px;
	}
	&__unit {
		flex-grow: 1;
		flex-basis: 0;
		margin: 20px 10px 0px;

		@mixin screen_to, $w-mbl-point {
			flex-basis: auto;
			max-width: calc(50% - 20px);
		}
		@mixin screen_to, 640px {
			max-width: 100%;
		}
	}
	&__title {
		text-align: center;
		margin-bottom: 24px;
		width: 100% !important;
	}

	&:last-child {
		margin-bottom: 0px;
	}
}