.voting {
	padding: 0 15px;
	margin: 80px auto;
	position: relative;

	@mixin screen_to, $w-mbl-point {
		margin: 60px auto;
	}

	&__box {
		width: 100%;
		display: flex;
		margin: 0px auto;
		max-width: 1056px;
		justify-content: center;

		@mixin screen_to, 1280px {
			display: block;
			max-width: 768px;
		}
	}
	&__main {
		flex-grow: 1;
		display: flex;
		padding: 30px 48px;
		background: #bbd9fd;
		align-items: flex-start;
		border-radius: 20px 0px 0px 20px;

		@mixin screen_to, 1280px {
			border-radius: 20px 20px 0px 0px;
		}
		@mixin screen_to, 420px {
			display: block;
		}

		&:last-child {
			margin: 0px auto;
			max-width: 768px;
			border-radius: 20px;
		}
	}
	&__info {
		width: 100%;
		color: #fff;
		max-width: 655px;
		background: #00136f;
		padding: 26px 30px 25px;
		border-radius: 0px 20px 20px 0px;

		@mixin screen_to, 1280px {
			max-width: none;
			border-radius: 0px 0px 20px 20px;
		}

		h6 {
			color: #fff;
			text-align: left;
			position: relative;
			padding-left: 28px;

			&:after {
				top: 0px;
				left: 0px;
				content: '';
				width: 20px;
				height: 20px;
				display: block;
				position: absolute;
				background: #fff;
				box-shadow:
					inset 0px 0px 0px 2px #fff,
					inset 0px 0px 0px 4px #00136f;
			}
		}
		li {
			margin-left: -30px;
		}
	}
	&__score {
		flex-grow: 1;
		display: block;
		color: #3151a0;
		text-align: center;
		position: relative;
		padding-right: 25px;
		font: 500 30px/1 $f1;
		margin: 28px 24px 0px 0px;

		@mixin screen_to, 420px {
			margin: 28px 0px 24px;
			padding: 0px 0px 10px;
		}

		&:after {
			display: block;
			margin-top: 4px;
			font: 14px/1 $f1;
			content: attr(data-label);
			text-transform: uppercase;
		}
		&:before {
			top: 5px;
			width: 1px;
			right: 0px;
			bottom: 2px;
			content: '';
			position: absolute;
			background: #798ec1;

			@mixin screen_to, 420px {
				top: auto;
				right: 50%;
				width: 80px;
				height: 1px;
				bottom: 0px;
				margin-right: -40px;
			}
		}
	}
}