.winners {
	z-index: 10;
	font: 0/0 serif;
	margin: 80px auto;
	padding: 0px 20px;
	position: relative;
	max-width: var(--sz);

	@mixin screen_to, $w-mbl-point {
		margin: 60px auto;
		padding: 0px 15px;
		max-width: var(--sz-mbl);
	}

	&_item {
		padding: 0px 10px;
		width: var(--c4o12);
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $w-mbl-point {
			width: auto;
			display: block;
		}

		&_img {
			margin: 0px -10px;
			position: relative;
			background-size: cover;
			border: 4px solid #fff;
			background-repeat: no-repeat;
			box-shadow: 0px 0px 12px 3px rgba(#5acbdc, .5);

			&:after {
				content: '';
				display: block;
				padding-bottom: calc(100% / (405 / 225));
			}
		}
		&_num {
			right: 10px;
			margin: 8px;
			color: #fff;
			display: block;
			padding-top: 19px;
			background: #fff;
			position: absolute;
			text-align: center;
			border-radius: 50%;
			font: 500 26px/1 $f1;
			transform: translateZ(0);

			@mixin screen_to, $w-mbl-point {
				right: -18px;
			}

			&:before {
				top: 50%;
				left: 50%;
				z-index: -1;
				display: block;
				font: 0/1 $ico;
				color: var(--c4);
				position: absolute;
				text-shadow:
					0px 0px 20px #fff,
					0px 0px 20px #fff;
			}

			&._1 {
				width: 132px;
				height: 132px;
				bottom: -28px;

				@mixin screen_to, $w-mbl-point {
					width: 72px;
					height: 72px;
				}

				&:before {
					font-size: 140px;
					content: $ico-win;
					margin: -70px 0px 0px -70px;

					@mixin screen_to, $w-mbl-point {
						font-size: 80px;
						margin: -40px 0px 0px -40px;
					}
				}
			}
			&._n {
				width: 80px;
				height: 80px;
				bottom: -24px;

				@mixin screen_to, $w-mbl-point {
					width: 60px;
					height: 60px;
					font-size: 20px;
					padding-top: 14px;
				}

				&:after {
					top: 4px;
					left: 4px;
					right: 4px;
					bottom: 4px;
					display: block;
					font: 12px/1 $f1;
					content: 'место';
					padding-top: 43px;
					border-radius: 50%;
					position: absolute;
					border: 1px solid #fff;
					text-transform: uppercase;

					@mixin screen_to, $w-mbl-point {
						top: 2px;
						left: 2px;
						right: 2px;
						bottom: 2px;
						font-size: 10px;
						margin-top: 1px;
						padding-top: 31px;
					}
				}
				&:before {
					font-size: 88px;
					content: $ico-mark;
					margin: -43px 0px 0px -44px;

					@mixin screen_to, $w-mbl-point {
						font-size: 68px;
						margin: -33px 0px 0px -34px;
					}
				}
			}
		}
		&_btn {
			margin-top: 16px;
		}
		&_city {
			display: block;
			color: var(--c5);
			margin-top: 25px;
			font: 500 16px/20px $f1;
			text-transform: uppercase;
		}
		&_text {
			margin-top: 2px;
			font: 14px/18px $f1;

			& :first-child {
				margin-top: 0px;
			}
		}

		& + & {
			margin-left: var(--gap);

			@mixin screen_to, $w-mbl-point {
				margin: 60px 0px 0px;
			}
		}
	}
	&_title {
		text-align: center;
		margin-bottom: 24px;
	}

	&:last-child {
		margin-bottom: 0px;
	}
}