.pBase {
	color: var(--c6);
	max-width: 600px;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 33px 40px 98px;
	transform: translateZ(0);
	background: var(--color-body);
	box-shadow: 0px 0px 18px 1px rgba(var(--c6), .4);

	@mixin screen_to, $w-mbl-point {
		padding: 33px 15px 108px;
	}

	&:after,
	&:before {
		z-index: -1;
		content: '';
		display: block;
		position: absolute;
		pointer-events: none;
		background: 50% 50% no-repeat;
	}
	&:after {
		left: 50%;
		width: 55px;
		height: 80px;
		bottom: 28px;
		margin-left: 186px;
		background-size: contain;
		background-image: url('/assets/img/design/decore/heroes/5-79x112.png');

		@mixin screen_to, $w-mbl-point {
			margin-left: 100px;
		}
		@media
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 120dpi) {
			background-image: url('/assets/img/design/decore/heroes/5-79x112@2.png');
		}
	}
	&:before {
		left: 0px;
		right: 0px;
		bottom: 6px;
		height: 89px;
		background-size: 450px 89px;
		background-image: url('/assets/img/design/decore/popup/footer-1.png');

		@media
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 120dpi) {
			background-image: url('/assets/img/design/decore/popup/footer-1@2.png');
		}
	}

	&_btn {
		color: #fff;
		display: block;
		min-width: 100px;
		padding: 0px 20px;
		overflow: visible;
		border-radius: 48px;
		margin: 17px auto -60px;
		font: 500 18px/48px $f1;
		text-transform: uppercase;
		background: var(--grdnt) 0% 100%;
		box-shadow: 0px 0px 20px 2px rgba(#fff, .5);
		background-size: 200% 200%;
		transition:
			box-shadow .3s $es,
			background .3s $es;

		&:hover,
		&:active {
			box-shadow: 0px 0px 10px 5px rgba(#fff, .8);
		}
		&:active {
			background-position-y: 0%;
		}
		&:nth-child(3) {
			margin-top: 27px;
		}
	}
	&_text {
		margin-top: 14px;
		font: 14px/24px $f1;
		text-transform: uppercase;

		p {
			margin: 1rem 0;
		}

		& :last-child {
			margin-bottom: 0px;
		}
		& :first-child {
			margin-top: 0px;
		}
	}
	&_title {
		margin: 0px;
		padding: 0px 71px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		font: 700 24px/30px $f1;
		text-transform: uppercase;

		&:after {
			left: 0px;
			top: -29px;
			content: '';
			width: 71px;
			height: 70px;
			display: block;
			position: absolute;
			pointer-events: none;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('/assets/img/design/decore/heroes/4-123x121.png');

			@mixin screen_to, 460px {
				content: none;
			}
			@media
			(-webkit-min-device-pixel-ratio: 1.25),
			(min-resolution: 120dpi) {
				background-image: url('/assets/img/design/decore/heroes/4-123x121@2.png');
			}
		}
	}
	&_close {
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		color: var(--c6);
		position: absolute;

		@mixin screen_to, $w-mbl-point {
			top: 4px;
			right: 4px;
		}

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			background: currentColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			width: 2px;
			height: 24px;
		}
		&:before {
			width: 24px;
			height: 2px;
		}

		&:hover {
			color: var(--c7);
		}
	}
}