.pMap {
	top: 0px;
	left: 0px;
	opacity: 0;
	right: 0px;
	bottom: 0px;
	z-index: 1500;
	position: fixed;
	visibility: hidden;
	transition: all .3s $es;
	background: rgba(var(--c6), .9);

	&._show {
		opacity: 1;
		visibility: visible;
	}

	&_src {
		width: 100%;
		height: 100%;
	}
	&_close {
		top: 40px;
		right: 40px;
		width: 60px;
		height: 60px;
		z-index: 100;
		border-radius: 50%;
		position: absolute;
		background: var(--grdnt) 0% 100%;
		box-shadow: 0px 0px 10px 5px rgba(#fff, .5);
		background-size: 200% 200%;
		transition:
			box-shadow .3s $es,
			background .3s $es;

		@mixin screen_to, $w-mbl-point {
			top: 15px;
			right: 15px;
			width: 40px;
			height: 40px;
		}

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			background: #fff;
			position: absolute;
			transform: rotate(45deg);
			transition: transform .15s $es;
		}
		&:after {
			width: 4px;
			height: 24px;
			margin: -12px 0px 0px -2px;

			@mixin screen_to, $w-mbl-point {
				width: 2px;
				height: 20px;
				margin: -10px 0px 0px -1px;
			}
		}
		&:before {
			width: 24px;
			height: 4px;
			margin: -2px 0px 0px -12px;

			@mixin screen_to, $w-mbl-point {
				width: 20px;
				height: 2px;
				margin: -1px 0px 0px -10px;
			}
		}

		&._done {
			&:after {
				transform: translate(6px, 2px) rotate(45deg);
			}
			&:before {
				transform: translate(-6px, 6px) rotate(45deg) scaleX(.625);
			}
		}
		&:hover {
			box-shadow: 0px 0px 10px 5px rgba(#fff, .6);
		}
		&:active {
			background-position-y: 0%;
		}
	}
}