.pPhoto {
	width: auto;
	min-width: 280px;
	position: relative;

	&_img {
		z-index: 10;
		position: relative;
	}
	&_view {
		margin-top: 17px;
		min-height: 250px;
		position: relative;
		background: #e5e7f0;
		transform: translateZ(0);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: -1;
			content: '';
			position: absolute;
			border-radius: 50%;
			pointer-events: none;
			will-change: transform;
			border: 2px solid transparent;
			animation: spin 1s $es infinite alternate;
		}
		&:after {
			width: 20px;
			height: 20px;
			animation-delay: .4s;
			border-top-color: #000;
			border-bottom-color: #000;
			margin: -10px 0px 0px -10px;
		}
		&:before {
			width: 40px;
			height: 40px;
			border-left-color: #000;
			border-right-color: #000;
			margin: -20px 0px 0px -20px;
		}
	}
	&_title {
		color: #fff;
		display: block;
		font: 700 24px/1 $f1;
		text-transform: uppercase;
	}
	&_close {
		top: -2px;
		right: 0px;
		width: 30px;
		height: 30px;
		color: #fff;
		position: absolute;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			background: currentColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			width: 2px;
			height: 24px;
		}
		&:before {
			width: 24px;
			height: 2px;
		}

		&:hover {
			color: var(--c7);
		}
	}
}