




@define-mixin mt, $mb-this, $mt-prev {
	@if $mb-this < $mt-prev {
		margin-top: $mt-prev;
	} @else {
		margin-top: calc($mt-prev - $mb-this);
	}
}






@define-mixin screen_to, $size {
	@media screen and (max-width: $size) {
		@mixin-content;
	}
}

@define-mixin screen_from, $size {
	@media screen and (min-width: calc($size + 1px)) {
		@mixin-content;
	}
}

@define-mixin screen_between, $size_a, $size_b {
	@media screen and (min-width: $size_a) and (max-width: $size_b) {
		@mixin-content;
	}
}

@define-mixin import_font, $name, $file, $format, $svg_id {
	@font-face {
		font-family: $name;
		@if $format == short {
			src: url('../font/$file.woff2?v=01092020') format('woff2'),
				 url('../font/$file.woff?v=01092020') format('woff');
		} @else {
			src: url('../font/$file.eot');
			src: url('../font/$file.eot?#iefix') format('embedded-opentype'),
				 url('../font/$file.woff2') format('woff2'),
				 url('../font/$file.woff') format('woff'),
				 url('../font/$file.ttf') format('truetype'),
				 url('../font/$file.svg#$file') format('svg');
		}
		@mixin-content;
	}
}