.cocoen {
	font: 0/0 serif;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	position: relative;
	box-sizing: border-box;

	&-drag {
		top: 0px;
		left: 50%;
		bottom: 0px;
		z-index: 105;
		cursor: ew-resize;
		position: absolute;

		.ico {
			top: 50%;
			left: 50%;
			content: '';
			width: 100px;
			height: 100px;
			display: block;
			position: absolute;
			transform: translate(-50%, -50%);
			background: url('/assets/img/design/ico/drag-1-100x100.png') no-repeat;
			background-size: contain;

			@mixin screen_to, $w-mbl-point {
				width: 50px;
				height: 50px;
			}

			&:after,
			&:before {
				top: 50%;
				width: 0px;
				height: 0px;
				content: '';
				display: block;
				margin-top: -7px;
				position: absolute;
				border-style: solid;
				pointer-events: none;
				animation: 1s $es infinite alternate;

				@mixin screen_to, $w-mbl-point {
					content: normal;
				}
			}
			&:after {
				left: 100%;
				margin-left: 20px;
				animation-name: arrow-left;
				border-width: 7px 0px 7px 7px;
				border-color: transparent transparent transparent #fff;
			}
			&:before {
				right: 100%;
				margin-right: 20px;
				animation-name: arrow-right;
				border-width: 7px 7px 7px 0px;
				border-color: transparent #fff transparent transparent;
			}
		}
	}
	&-show {
		top: 0px;
		left: 0px;
		width: 50%;
		height: 100%;
		z-index: 100;
		overflow: hidden;
		position: absolute;
	}
}

@keyframes arrow-left {
	100% {
		transform: translateX(-100%);
	}
}
@keyframes arrow-right {
	100% {
		transform: translateX(100%);
	}
}