.kladr-error {
	color: var(--input-error);
}

#kladr_autocomplete {
	color: var(--c5);

	a {
		border: none;
		color: var(--c5);
		font: 14px/1 $f1;
		transition: none;
		text-transform: uppercase;
	}
	ul {
		margin: 0px;
		padding: 0px;
		z-index: 800;
		display: block;
		overflow-y: auto;
		min-width: 200px;
		max-height: 420px;
		overflow-x: hidden;
		position: absolute;
		border: solid var(--c5);
		background-color: #fff;
		border-width: 0px 1px 1px 1px;

		&:empty {
			display: none !important;
		}
	}
	li {
		margin: 0px;
		color: var(--c5);
		overflow: hidden;
		padding: 8px 15px;
		display: list-item;
		white-space: nowrap;
		list-style-type: none;
		text-overflow: ellipsis;
		transition:
			color .3s $es,
			background .3s $es;

		&:before {
			content: normal;
		}

		& + li {
			border-top: 1px solid var(--input-border);
		}
		&:hover {
			cursor: pointer;
		}
		&:hover,
		&.active {
			background: var(--c0);
		}
	}
	strong {
		color: var(--c6);
		font-weight: normal;
	}
	.spinner {
		width: 16px;
		height: 16px;
		z-index: 9999;
		display: block;
		position: absolute;
		margin-left: -10px;
		border-radius: 50%;
		border: 1px solid var(--c5);
		border-right-color: transparent;
		animation: spin .6s $es infinite alternate both;
	}
}
