.sod {

	/*#region [base][:]*/
	&_list {
		display: block;
		overflow-y: auto;

		&_wrapper {
			top: 100%;
			left: -1px;
			height: auto;
			overflow: hidden;
			position: absolute;
			pointer-events: none;
			width: calc(100% + 2px);
		}
	}
	&_label {
		display: block;
		overflow: hidden;
		position: relative;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&_select {
		z-index: 50;
		display: block;
		cursor: pointer;
		user-select: none;
		position: relative;
		-webkit-touch-callout: none;

		select {
			opacity: 0;
			width: 0px;
			height: 0px;
			top: -10000px;
			left: -10000px;
			position: fixed;
			visibility: hidden;
		}

		&.open {
			z-index: 550;

			.sod_list_wrapper {
				pointer-events: auto;
			}
		}
		&.above {
			.sod_list_wrapper {
				top: auto;
				bottom: 100%;
			}
		}
		&.touch {
			select {
				top: 0px;
				left: 0px;
				z-index: 10;
				width: 100%;
				height: 100%;
				font: $base-font;
				position: absolute;
				visibility: visible;
				display: block !important;
				-webkit-appearance: menulist-button;
			}
		}
		&.disabled {
			cursor: default;

			&.open {
				.sod_list_wrapper {
					display: none;
				}
			}
		}
	}
	&_option {
		display: block;
		cursor: pointer;

		&.disabled,
		&.selected,
		&.is-placeholder {
			display: none;
		}
	}
	/*#endregion [base][;]*/

	/*#region [theme][:]*/
	&_list {
		padding: 0px 10px;
		max-height: 192px;

		&_wrapper {
			opacity: 0;
			background: #fff;
			visibility: hidden;
			transform: translateY(5px);
			border: 1px solid var(--input-focus);
			transition:
				opacity .3s $es,
				transform .3s $es,
				visibility .3s $es;
		}
	}
	&_label {
		z-index: 10;
		text-align: left;
		background: #fff;
		font: 500 14px/46px $f1;
		text-transform: uppercase;

		padding: 0px 30px 0px 15px;
	}
	&_select {
		z-index: 100;
		color: #333;
		border: 1px solid var(--input-border);
		box-shadow: 0px 0px 0px 3px transparent;
		transition:
			border .3s $es,
			box-shadow .3s $es;

		&:after {
			top: 19px;
			width: 0px;
			right: 8px;
			height: 0px;
			z-index: 15;
			content: '';
			display: block;
			position: absolute;
			border-style: solid;
			border-width: 7px 6px 0px 6px;
			border-color: var(--c5) transparent transparent transparent;
			transition: border .2s $es-out;
		}

		&.open,
		&:hover {
			border-color: var(--input-focus);
			box-shadow: 0px 0px 0px var(--input-focus);
		}
		&.open {
			&:after {
				transform: translateY(-1px);
				border-width: 0px 6px 7px 6px;
				border-color: transparent transparent var(--c5) transparent;
			}

			.sod_list_wrapper {
				opacity: 1;
				transform: none;
				visibility: visible;
			}

			&.above {
				.sod_list_wrapper {
					transform: none;
				}
			}
		}
		&.above {
			.sod_list_wrapper {
				transform: translateY(-5px);
			}
		}
		&._error {
			border-color: var(--input-error);
			box-shadow: 0px 0px 0px 1px var(--input-error);
		}
		&.disabled {
			box-shadow: none;
			color: var(--input-disabled-text);
			border-color: var(--input-disabled-border);

			&:after {
				border-top-color: var(--input-disabled-text);
			}

			&:hover {
				border-color: var(--input-disabled-border);
			}
		}
	}
	&_option {
		font: 16px/20px $f1;
		padding: 5px 0px 6px;
		transition: color .3s $es;
		border-top: 1px solid var(--cG1);

		&:hover {
			color: var(--cB1);
		}
		&:first-child,
		&:first-child.selected + span {
			border: none;
		}
	}
	/*#endregion [theme][;]*/

}