.tooltipster {
	&-box {
		flex: 1 1 auto;
	}
	&-base {
		display: flex;
		position: absolute;
		pointer-events: none;
	}
	&-ruler {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		overflow: hidden;
		position: fixed;
		visibility: hidden;
	}
	&-content {
		overflow: auto;
		max-width: 100%;
		max-height: 100%;
		box-sizing: border-box;

		ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		li {
			margin: 0px;
			position: relative;
			padding: 0px 0px 0px 20px;

			&:before {
				top: 6px;
				left: 0px;
				width: 6px;
				height: 6px;
				content: '';
				display: block;
				position: absolute;
				border-radius: 50%;
				margin-right: 20px;
				background: currentColor;
			}
		}
	}

	&-fade {
		opacity: 0;
		transition-property: opacity;

		&.tooltipster-show {
			opacity: 1;
		}
	}
	&-grow {
		opacity: 0;
		transform: scale(0);
		transform-origin: 95% 100%;
		backface-visibility: hidden;
		transition-property: opacity transform;

		&.tiptoup {
			transform-origin: 50% 100%;
		}
		&.tooltipster-show {
			opacity: 1;
			transform: scale(1);
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
		}
	}
	&-fall {
		transition-property: top;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);

		&.tooltipster-dying {
			opacity: 0;
			top: 0px !important;
			transition-property: all;
		}
		&.tooltipster-initial {
			top: 0px !important;
		}
	}
	&-swing {
		opacity: 0;
		transform: rotateZ(4deg);
		transition-property: transform, opacity;

		&.tooltipster-show {
			opacity: 1;
			transform: rotateZ(0deg);
			transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
		}
	}
	&-slide {
		transition-property: left;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);

		&.tooltipster-dying {
			opacity: 0;
			left: 0px !important;
			transition-property: all;
		}
		&.tooltipster-initial {
			left: -40px !important;
		}
	}
	&-update {
		&-fade {
			animation: tooltipster-fading 400ms;
		}
		&-scale {
			animation: tooltipster-scaling 600ms;
		}
		&-rotate {
			animation: tooltipster-rotating 600ms;
		}
	}
}

.tooltipster {
	&-sidetip {
		&-arrow {
			&-border {
				top: 0px;
				left: 0px;
				border: 10px solid transparent;
			}
			&-uncropped {
				position: relative;
			}
		}

		.tooltipster {
			&-box {
				max-width: 300px;
				border-radius: 3px;
				background: var(--c6);
				box-shadow: 0px 5px 10px rgba(var(--c6), .3);
			}
			&-content {
				color: #fff;
				font: 12px/1.25 $f1;
				text-transform: uppercase;
				padding: 9px 12px;

				& :first-child {
					margin-top: 0px;
				}
				& :last-child {
					margin-bottom: 0px;
				}
			}
			&-arrow {
				overflow: hidden;
				position: absolute;

				&-border,
				&-background {
					width: 0px;
					height: 0px;
					position: absolute;
				}
				&-background {
					border: 10px solid transparent;
				}
			}
		}
		&.tooltipster {
			&-top {
				.tooltipster {
					&-box {
						margin-bottom: 8px;
					}
					&-arrow {
						bottom: 0px;
						width: 20px;
						height: 10px;
						margin-left: -10px;

						&-border {
							border-top-color: var(--input-border);
						}
						&-background {
							top: -3px;
							left: 0px;
							border-top-color: var(--c6);
						}
					}
				}
			}
			&-left {
				.tooltipster {
					&-box {
						margin-right: 8px;
					}
					&-arrow {
						top: 0px;
						right: 0px;
						width: 10px;
						height: 20px;
						margin-top: -10px;

						&-border {
							border-left-color: var(--input-border);
						}
						&-background {
							top: 0px;
							left: -3px;
							border-left-color: #fff;
						}
					}
				}
			}
			&-right {
				.tooltipster {
					&-box {
						margin-left: 8px;
					}
					&-arrow {
						top: 0px;
						left: 0px;
						width: 10px;
						height: 20px;
						margin-top: -10px;

						&-border {
							border-right-color: var(--input-border);
						}
						&-uncropped {
							left: -10px;
						}
						&-background {
							top: 0px;
							left: 3px;
							border-right-color: #fff;
						}
					}
				}
			}
			&-bottom {
				transform-origin: 50% 5%;

				.tooltipster {
					&-box {
						margin-top: 8px;
					}
					&-arrow {
						top: 0px;
						width: 20px;
						height: 10px;
						margin-left: -10px;

						&-border {
							border-bottom-color: var(--input-border);
						}
						&-uncropped {
							top: -10px;
						}
						&-background {
							top: -10px;
							left: 0px;
							border-bottom-color: var(--c6);
						}
					}
				}
			}
		}
	}
}

.tooltip_templates {
	display: none;
}

@keyframes tooltipster-fading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tooltipster-scaling {
	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes tooltipster-rotating {
	25% {
		transform: rotate(-2deg);
	}

	75% {
		transform: rotate(2deg);
	}

	100% {
		transform: rotate(0);
	}
}