.uVideo {
	font: 0/0 serif;
	margin: 30px 0px;
	position: relative;
	background: #e7e7e7;

	&:after {
		content: '';
		display: block;
		padding-bottom: 56.25%;
	}

	&_src {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	&:last-child {
		margin-bottom: 0px;
	}
}