.video {
	&_box {
		position: relative;
		background: #dbdbdb;
		padding-bottom: 56.25%;
	}
}
.hidden {
	width: 0px;
	height: 0px;
	right: 150%;
	max-width: 0px;
	max-height: 0px;
	position: fixed;
	overflow: hidden;
	visibility: hidden;
}
._overflow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}

.-no {
	&_mrgn {
		margin: 0px;

		/*
		&-t { margin-top: 0px; }
		&-l { margin-left: 0px; }
		&-r { margin-right: 0px; }
		&-b { margin-bottom: 0px; }
		*/
	}
	&_pdng {
		padding: 0px;

		/*
		&-t { margin-top: 0px; }
		&-l { margin-left: 0px; }
		&-r { margin-right: 0px; }
		&-b { margin-bottom: 0px; }
		*/
	}
}
.-hide {
	&4dsk {
	}
	&4tbl {
	}
	&4mbl {
		@mixin screen_to, $w-mbl-point {
			display: none;
		}
	}
}

.-flft {float: left;}
.-frgt {float: right;}

.-alft {text-align: left;}
.-argt {text-align: right;}
.-actr {text-align: center;}

.-vtop {vertical-align: top;}
.-vmid {vertical-align: middle;}
.-vbot {vertical-align: bottom;}

.-ttup {text-transform: uppercase;}
.-ttlw {text-transform: lowercase;}
