*,
*:after,
*:before {
	outline: 0px;
	box-sizing: border-box;
	-webkit-print-color-adjust:exact;
}

::selection {
	color: var(--selection-text);
	background: var(--selection-fill);
}

html,
body {
	margin: 0px;
	padding: 0px;

	@media print {
		height: auto;
	}
}
body {
	/*min-width: $w-dsk;*/
	text-size-adjust: none;
	-webkit-text-stroke: 0px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	image-rendering: -webkit-optimize-contrast;

	@media print {
		min-width: auto;
	}
	@mixin screen_to, $w-mbl-point {
		min-width: auto;
	}
}

@media print {
	@page {
		size: landscape;
		margin: 0cm .05cm;
	}
}

/*#region [tags][:]*/
img,
figure,
blockquote {
	&:last-child {
		margin-bottom: 0px;
	}
}
iframe {
	border: none;
}
/*#endregion [tags][;]*/